{% extends 'index_template.html' %}

{% block main_window %}
    <div class="row">
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" href="/adjuster/journal/{{tpaIndex}}">Простои, неполадки <br> и чек-листы</a>
            <div class="btn btn__menu btn__menu_wide primary">Сырье до конца выпуска</div>
            <div class="btn btn__menu btn__menu_wide primary">Зафиксировать <br> брак и отход</div>
            <div class="btn btn__menu btn__menu_wide primary">Замена пресс-формы</div>
        </div>
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" href="">Сменное задание</a>
            <div class="btn btn__menu btn__menu_wide primary">Нормативная документация</div>
            <div class="btn btn__menu btn__menu_wide primary">Фиксация изменений в <br> технологической <br> системе</div>
            <div class="btn btn__menu btn__menu_wide primary">Вызов специалистов</div>
        </div>
    </div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}