{% extends 'index_template.html' %}

{% block main_window %}
    <div class="row">
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/adjuster/journal">Простои, неполадки <br> и чек-листы</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/adjuster/RawMaterials">Сырье до конца выпуска</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/adjuster/WasteDefectFix">Зафиксировать <br> брак и отход</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/bindPressForms">Замена пресс-формы</a>
        </div>
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/adjuster/shiftTask">Задание на производство</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();">Нормативная документация</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/adjuster/techSystem">Фиксация изменений в <br> технологической <br> системе</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();">Вызов специалистов</a>
        </div>
    </div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}