<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>
<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <input type="hidden" id="current_user" value="{{ current_user }}">

    {% set downtimeJournal = somedata %}

    <div class="view">
        <div class="view-header"> ПРОСТО И НЕПОЛАДКИ </div>
        <div class="view-body view-body_journal jsScroll">
            <table class="table table-bordered text-center" id="journalTable" border="1" bordercolor="black">
                <thead class="table-dark align-middle">
                    <tr>
                        <th scope="col">+</th>
                        <th scope="col">Тип /<br>Вид работ</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Конец</th>
                        <th scope="col">Причина /<br>Состоянием ЕАМ</th>
                        <th scope="col">Примечание /<br>Номер работ</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Ввод причины /<br>Выполнение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for downtime in downtimeJournal %}
                        {% if downtime[9] != None%}
                            <tr>
                                <td class="align-middle idle-entered" id="{{ downtime[0] }}">
                                    <input class="big-checkbox" type="checkbox" id="{{ loop.index0 }}" disabled>
                                </td>
                                <td class="align-middle red">Простой</td>
                                <td class="align-middle" id="idleTimeStart">{{ downtime[2].strftime('%Y.%m.%d-%H:%M:%S') }}</td>
                                {% if downtime[3] != None %}
                                    <td class="align-middle" id="idleTimeEnd">{{ downtime[3].strftime('%Y.%m.%d-%H:%M:%S') }}</td>
                                {% else %}
                                    <td class="align-middle" id="idleTimeEnd"></td>
                                {% endif %}
                                <td class="align-middle">{{ downtime[4] }}</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ downtime[9] }} {{ downtime[10] }} {{ downtime[11] }}</td>
                                <td class="nopadding table__button">
                                    <a type="button" class="btn__table btn__table_primary bold"><b>Подробнее</b></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="warning">
                                <td class="align-middle" id="{{ downtime[0] }}">
                                    <input class="big-checkbox" type="checkbox" id="{{ loop.index0 }}">
                                </td>
                                <td class="align-middle red">Простой</td>
                                <td class="align-middle" id="idleTimeStart">{{ downtime[2].strftime('%Y.%m.%d-%H:%M:%S') }}</td>
                                {% if downtime[3] != None %}
                                    <td class="align-middle" id="idleTimeEnd">{{ downtime[3].strftime('%Y.%m.%d-%H:%M:%S') }}</td>
                                {% else %}
                                    <td class="align-middle" id="idleTimeEnd"></td>
                                {% endif %}
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="nopadding table__button" id="idleReason">
                                    <a type="button" class="btn__table btn__table_dark" id="buttonReason"><b>Причина</b></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between px-3">
            <div class="col-6 row">
                <div class="col nopadding me-1">
                    <button type="button" class="btn btn__view btn__view_journal primary fs-3">
                       НЕПОЛАДКА<br>( ввод неполадки )
                    </button>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col nopadding ms-1">
                    <button type="button" class="btn btn__view btn__view_journal secondary fs-1" onclick="location.href='/adjuster'">
                        Выход
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}
{% block script %}
<script>

    let jsScroll = document.getElementsByClassName('jsScroll');

    if(jsScroll){
        [].forEach.call(jsScroll, function(item) {
            let startX, startY;
            let listener = function(e) {
                startX = this.scrollLeft + e.pageX;
                startY = this.scrollTop + e.pageY;
                item.addEventListener('mousemove', endListener);
            };
        
            let endListener = function(e) {
                this.scrollLeft = startX - e.pageX;
                this.scrollTop = startY - e.pageY;
                return false;
            };
        
            item.addEventListener('mousedown', listener);
        
            window.addEventListener("mouseup", function(){ 
                item.removeEventListener('mousemove', endListener);
            });
        });
    }

    const tbody = document.querySelector('#journalTable tbody');
    let checked = [];
    let idle_data = []

    tbody.addEventListener('click', function (e) {
        const cell = e.target.closest('td:last-child');
        if (!cell) {return;}
        const row = cell.parentElement;
        console.log(row.cells)
        let idleOid = row.cells[0].id // Получение ID первой ячейки (он же Oid простоя)
        let start = row.cells[2].innerText
        let end = row.cells[3].innerText
        let all_idles = JSON.stringify(idle_data)
        if (idle_data.length > 0) {
            window.location.href=`/adjuster/journal/idleEnter?oid=${idle_data[idle_data.length-1]['Oid']}&start_date=${idle_data[idle_data.length-1]['Start_date']}&end_date=${idle_data[0]['End_date']}&idles=${all_idles}`
        } else {
            window.location.href=`/adjuster/journal/idleEnter?oid=${idleOid}&start_date=${start}&end_date=${end}&idles=${all_idles}`
        } 
    });
    // Выделение строк в таблице простоев для объединения
    $('input:checkbox').click(function(){
        // Опустошаем массив выбранных элементов
        checked.length = 0
        idle_data.length = 0
        // Если нажали на чекбокс и он выделился галкой
        if ($(this).is(':checked'))
        {
            // Заносим все строки с галкой в массив
            $('input:checkbox:checked').each(function() {
                checked.push(Number(this.id))
                idle_data.push({'Oid':$(this).closest('td:first-child').attr('id'),
                                'Start_date':$(this).closest('tr').children('#idleTimeStart').text(),
                                'End_date':$(this).closest('tr').children('#idleTimeEnd').text()})
            })
            // Выделяем выделенную строку зелёным
            $(this).closest('tr').addClass('green');

            // Если выделено больше одной записи
            if (checked.length > 1)
            {
                // Выделяем записи в диапазон между первой и последней галкой
                $('input:checkbox').each(function() {
                    if ((Number(this.id) >= checked[0]) && (Number(this.id) <= checked[checked.length-1]))
                    {
                        $(this).prop('checked', true)
                        $(this).closest('tr').addClass('green')
                    }
                })
                // Обновляем массив выделенных строк
                checked.length = 0
                idle_data.length = 0
                $('input:checkbox:checked').each(function() {
                    checked.push(Number(this.id))
                    idle_data.push({'Oid':$(this).closest('td:first-child').attr('id'),
                                    'Start_date':$(this).closest('tr').children('#idleTimeStart').text(),
                                    'End_date':$(this).closest('tr').children('#idleTimeEnd').text()})
                })  
                // Объеденяем ячейки 
                $('input:checkbox').each(function() {
                    if ((Number(this.id) >= checked[0]) && (Number(this.id) <= checked[checked.length-1]))
                    {
                        if (Number(this.id) != checked[0])
                        {
                            $(this).closest('tr').children('#idleTimeStart').html($(this).html().replace($(this).text(),''));
                            $(this).closest('tr').children('#idleTimeEnd').html($(this).html().replace($(this).text(),''));
                            $(this).closest('tr').children('#idleReason').children('#buttonReason').remove()
                        }
                        else
                        {
                            $(this).closest('tr').children('#idleTimeStart').attr('rowspan',checked.length)
                            $(this).closest('tr').children('#idleTimeEnd').attr('rowspan',checked.length)
                            $(this).closest('tr').children('#idleReason').attr('rowspan',checked.length)
                        }
                    }
                })  
            }
            
        }
        else
        {
            // Если сняли галку то обновляем страницу
            $(this).closest('tr').removeClass('green');
            location.href="/adjuster/journal"
        }
    }); 
</script>
{% endblock %}