<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>
<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <input type="hidden" id="current_user" value="{{ current_user }}">

    {% set downtimeJournal = somedata %}

    <div class="view">
        <div class="view-header"> ПРОСТО И НЕПОЛАДКИ </div>
        <div class="view-body view-body_journal jsScroll">
            <table class="table table-bordered text-center" id="journalTable" border="1" bordercolor="black">
                <thead class="table-dark align-middle">
                    <tr>
                        <th scope="col">+</th>
                        <th scope="col">Тип /<br>Вид работ</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Конец</th>
                        <th scope="col">Причина /<br>Состоянием ЕАМ</th>
                        <th scope="col">Примечание /<br>Номер работ</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Ввод причины /<br>Выполнение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for downtime in downtimeJournal %}
                        {% if downtime[9] != None%}
                            <tr>
                                <td class="align-middle idle-entered" id="{{ downtime[0] }}">
                                    <input class="big-checkbox" type="checkbox" id="{{ loop.index0 }}">
                                </td>
                                <td class="align-middle red">Простой</td>
                                <td class="align-middle" id="idleTimeStart">{{ downtime[2].strftime('%Y.%m.%d %H:%M:%S') }}</td>
                                {% if downtime[3] != None %}
                                    <td class="align-middle" id="idleTimeEnd">{{ downtime[3] }}</td>
                                {% else %}
                                    <td class="align-middle" id="idleTimeEnd"></td>
                                {% endif %}
                                <td class="align-middle">{{ downtime[4] }}</td>
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ downtime[9] }} {{ downtime[10] }} {{ downtime[11] }}</td>
                                <td class="nopadding table__button">
                                    <a type="button" class="btn__table btn__table_primary bold"><b>Подробнее</b></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="warning">
                                <td class="align-middle" id="{{ downtime[0] }}">
                                    <input class="big-checkbox" type="checkbox" id="{{ loop.index0 }}">
                                </td>
                                <td class="align-middle red">Простой</td>
                                <td class="align-middle" id="idleTimeStart">{{ downtime[2].strftime('%Y.%m.%d %H:%M:%S') }}</td>
                                {% if downtime[3] != None %}
                                    <td class="align-middle" id="idleTimeEnd">{{ downtime[3] }}</td>
                                {% else %}
                                    <td class="align-middle" id="idleTimeEnd"></td>
                                {% endif %}
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="nopadding table__button">
                                    <a type="button" class="btn__table btn__table_dark"><b>Причина</b></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between px-3">
            <div class="col-6 row">
                <div class="col nopadding me-1">
                    <button type="button" class="btn btn__view btn__view_journal primary fs-3">
                       НЕПОЛАДКА<br>( ввод неполадки )
                    </button>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col nopadding ms-1">
                    <button type="button" class="btn btn__view btn__view_journal secondary fs-1" onclick="location.href='/adjuster'">
                        Выход
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}
{% block script %}
<script>
    let checkboxes = document.querySelectorAll('input[type=checkbox]')
    let checkedArr = []
    let endDateValue = null

    const tbody = document.querySelector('#journalTable tbody');
    tbody.addEventListener('click', function (e) {
        const cell = e.target.closest('td:last-child');
        if (!cell) {return;}
        const row = cell.parentElement;
        let idleOid = row.cells[0].id // Получение ID первой ячейки (он же Oid простоя)
        console.log(row.cells[0].classList.contains('idle-entered'))
        if (!row.cells[0].classList.contains('idle-entered')) {
            window.location.href='/adjuster/journal/idleEnter?oid='+idleOid
        } else {
            window.location.href='/adjuster/journal/idleView?oid='+idleOid
        } 
    });

    $('input:checkbox').click(function(){
       
        if ($(this).is(':checked')) {
            $(this).closest('tr').addClass('green'); // Красит выбранную строку в зеленый

            $.each($('input[type=checkbox]:checked'), function(){ // Перебор всех отмеченных чекбоксов
                if (checkedArr.includes(this)) { // Если отмеченный, уже есть в массиве - пропуск
                    return
                } else {
                    checkedArr.push(this) // Иначе добавляет в массив
                }

                for(const elem of checkboxes) { // Перебор всех имеющихся чекбоксов

                    // Если не отмеченный чекбокс (элемент), находится между отмеченных. То отмечаем его и перекрашиваем в зеленый
                    if (elem.id > checkedArr[0].id && elem.id < checkedArr[checkedArr.length-1].id) {
                        $(elem).closest('tr').addClass('green');
                        $(elem).prop("checked", true);

                        // Удаление ячейки начала и конца промежуточных простоев 
                        $(elem).closest('tr').children('#idleTimeStart').remove()
                        $(elem).closest('tr').children('#idleTimeEnd').remove()

                        // Удаление последней чейки с кнопкой, в промежуточных простоях
                        $(elem).closest('tr').children().last().remove()
                    }

                    // Если выбранный элемент последний
                    if (elem.id == checkedArr[checkedArr.length-1].id) {
                        // Если выбранных чеек большей одной
                        if(checkedArr.length > 1) {
                            $(elem).closest('tr').children('#idleTimeStart').remove()

                            // Если ячейка конец простоя, не пустой, то присваеваем его значение в переменную endDateValue
                            // а так же чистим ячейки конца простоя и кнопки
                            if($(elem).closest('tr').children()[2].innerHTML.trim() != '') {
                                endDateValue = $(elem).closest('tr').children()[2].innerHTML
                                $(elem).closest('tr').children('#idleTimeEnd').remove()
                                $(elem).closest('tr').children().last().remove()
                            // Если чейка конец простоя, пустой, то просто удаляем две ячейки
                            } else {
                                $(elem).closest('tr').children('#idleTimeEnd').remove()
                                $(elem).closest('tr').children().last().remove()
                            }
                        }
                    }
                }

                let startDate = $(checkedArr[0]).closest('tr').children('#idleTimeStart')
                let endDate = $(checkedArr[0]).closest('tr').children('#idleTimeEnd')
                let buttonCell = $(checkedArr[0]).closest('tr').children().last()
                
                if(checkedArr.length > 1) {
                    $(startDate).attr('rowspan', $('input[type=checkbox]:checked').length);
                    $(endDate).attr('rowspan', $('input[type=checkbox]:checked').length);
                    $(buttonCell).attr('rowspan', $('input[type=checkbox]:checked').length);
                    endDate.innerHTML = endDateValue
                } else {
                    if($(checkedArr[0]).closest('tr').children()[3].innerHTML.trim() != '') {
                        endDateValue = $(checkedArr[0]).closest('tr').children()[3].innerHTML
                    }
                }
            });

        } else {
            $(this).closest('tr').removeClass('green');
        }
    });
</script>
{% endblock %}