{% extends 'index_template.html' %}
{% block main_window %}

{% set product_residues = somedata[0] %}
{% set raw_materials = somedata[1] %}

<div class="view"> 
    <div class="view-header text-center primary">Сырье до конца смены</div>
    <div class="view-body jsScroll"> 
        <table class="table table-sm table-bordered text-center" border="1" bordercolor="black">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">кг.</th>
                    <th scope="col">%</th>
                </tr>
            </thead>
            <tbody id="" class="fs-5">
                <tr>
                    <td>Количество продукта до конца плана</td>
                    <td colspan="2" class="green">{{ product_residues }} шт.</td>
                </tr>
                {% for product in raw_materials %}
                    {% for product_component in product %}
                        <tr>
                            <td>{{ product_component['ProductName'] }}</td>
                            <td>{{ product_component['ProductMass'] }}</td>
                            <td>{{ product_component['ProductPercent'] }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>     
    </div>
    <div class="view-footer">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn__view secondary startLoad" onclick ="location.href='/adjuster'">
                    Выход
                </button>
            </div>
        </div> 
    </div>       
</div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}