{% extends 'index_template.html' %}
{% block main_window %}
<div class="view"> 
    <div class="view-header text-center primary">Брак и отход</div>
    <div class="view-body jsScroll"> 
        <table class="table table-bordered text-center" border="1" bordercolor="black">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вид</th>
                    <th>Кол.</th>
                    <th>Кг.</th>
                    <th>Время</th>
                    <th>Оператор</th>
                    <th>Причина</th>
                </tr>
            </thead>
            <tbody>
                <tr id="wasteRow">
                    <td >Наименование продукта</td> 
                    <td class="table-warning">Наименование отхода</td>
                    <td></td>
                    <td>1.0</td>
                    <td></td> <!-- Время добавленного отхода, тоже из таблицы ProductWaste -->
                    <td>ФИО Оператора</td>
                    <td class="nopadding table__button col-2">
                        <button type="button" class="btn__table" data-wasteoid="">Указать  причину</button> <!-- В data-wasteoid должен находится Oid введенного отхода из таблицы ProductWaste -->
                    </td>
                </tr>
                <tr id="defectRow">
                    <td >Наименование продукта</td> 
                    <td class="red">Брак</td>
                    <td>1</td>
                    <td>1.0</td>
                    <td></td> <!-- Время добавленного отхода, тоже из таблицы ProductWaste -->
                    <td>ФИО Оператора</td>
                    <td class="nopadding table__button">
                        <button type="button" class="btn__table" data-wasteoid="">Указать причину</button> <!-- В data-wasteoid должен находится Oid введенного отхода из таблицы ProductWaste -->
                    </td>
                </tr>
            </tbody>
        </table>     
    </div>
    <div class="view-footer">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn__view secondary startLoad" onclick ="location.href='/adjuster'">
                    Выход
                </button>
            </div>
        </div> 
    </div>       
</div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}