{% extends 'index_template.html' %}

{% block main_window %}
<div class="view"> 
    <div class="view-header text-center primary">Привязка пресс-формы</div>
    <div class="view-body">
        <div class="row">
            <div class="search-label" for="">Поиск</div>
            <input class="search-input openKeyBig use-keyboard-input" id="searchPressForm" type="text">
        </div>
        <form action="bind_press_form.py" method="post" id="form">
            <input type="hidden" id="pressFormData">
            <select class="custom-select jsScroll" id="selectPressForm"  size="12">
                {% for press_form in press_forms %}
                    {% if current_tpa[2].need_pressform_oid == press_form[0] %}
                        <option class="primary" value="{{ press_form[0] }}">{{ press_form[1] }}</option>
                    {% endif %}
                    <option value="{{ press_form[0] }}">{{ press_form[1] }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="view-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn__view primary fs-3" data="" onclick=LinkClick() id="bindPressForm">Привязать пресс-форму</button>
            </div>  
            <div class="col-6">
                <button type="button" class="btn btn__view secondary startLoad" id="exitNoSave" onclick="location.href='/'">
                    Выход
                </button>
            </div>  
        </div>
    </div>        
</div>
<script src="/static/js/keyboard.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {  

        //--------------------------СИСТЕМА ПОИСКА-----------------------------
        document.addEventListener("click", function(e) {
            let input = document.getElementById('searchPressForm');
            let val = input.value.trim().toUpperCase();
            let searchItems = document.querySelectorAll('#selectPressForm option');
            if (e.target.classList.contains('keyboard__key')) {
                if (val != '') {
                    searchItems.forEach(function (elem){
                        if (elem.innerText.toUpperCase().search(val) == -1) {
                            elem.classList.add('hidden')
                        }
                        else {
                            elem.classList.remove('hidden');
                        }
                    });
                }
                else {
                    searchItems.forEach(function (elem){
                        elem.classList.remove('hidden');
                    });
                }
            }
        });
        //---------------------------------------------------------------------
        
        // Смена пресс-формы
        let pressFormData = document.getElementById('pressFormData')
        let pressFormName = null

        document.getElementById('selectPressForm').addEventListener('change', function() {
            pressFormData.value = this[this.selectedIndex].value
            pressFormName = this[this.selectedIndex].text
        })

        // При нажатии на кнопку отправляю идентификаторы контроллера и выбранной пресс-формы на сервер
        document.getElementById('bindPressForm').addEventListener('click', function() {
            let socket = io();
            tpf.innerHTML = pressFormName // Визуальная замена пресс-формы
            socket.emit('press_form_binding', pressFormData.value);
        })
    })
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}