{% extends 'index_template.html' %}
{% block main_window %}
<div class="view"> 
    <div class="view-header text-center primary">Привязка пресс-формы</div>
    <div class="view-body"> 
        <input id="conOid" type="hidden" value="99AD52D8-B3DD-432F-91BF-6E30A9939E52">
        <div class="row">
            <div class="search-label" for="">Поиск</div>
            <input class="search-input openKeyBig use-keyboard-input" id="searchPressForm" type="text">
        </div>
        <form action="bind_press_form.py" method="post" id="form">
            <select class="custom-select jsScroll my-scrollbar" id="selectPressForm" size="12">
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
                <option value="">Отходы литьевые ПЭНД 154.10</option>
            </select>
        </form>
    </div>
    <div class="view-footer">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn__view primary fs-3" data="" id="bindPressForm">Выбрать отход</button>
            </div>  
            <div class="col-6">
                <button type="button" class="btn btn__view secondary startLoad" id="exitNoSave" onclick="location.href='/operator/tableWasteDefect/wastes'">
                    Назад
                </button>
            </div>  
        </div>
    </div>        
</div>
<script src="/static/js/keyboard.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function openKeboard() {
            let keyboard = document.getElementsByClassName('keyboard');  
        }
        //--------------------------СИСТЕМА ПОИСКА-----------------------------
        document.addEventListener("click", function(e) {
            let input = document.getElementById('searchAnotherWastes');
            let val = input.value.trim().toUpperCase();
            let searchItems = document.querySelectorAll('#tbodyAnotherWastes tr');
            if (e.target.classList.contains('keyboard__key')) {
                if (val != '') {
                    searchItems.forEach(function (elem){
                        if (elem.innerText.toUpperCase().search(val) == -1) {
                            elem.classList.add('hidden')
                        }
                        else {
                            elem.classList.remove('hidden');
                        }
                    });
                }
                else {
                    searchItems.forEach(function (elem){
                        elem.classList.remove('hidden');
                    });
                }
            }
        });
        //---------------------------------------------------------------------
    });
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}