{% extends 'index_template.html' %}
{% block main_window %}
<div class="view">
    <div class="view-header text-center primary">Возвратные отходы и брак за смену</div>
    <div class="view-body jsScroll">
        <table class="table table-bordered text-center" id="tableWasteDefect" border="1">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вид</th>
                    <th scope="col">Кол.</th>
                    <th scope="col">Кг.</th>
                    <th scope="col">Причина</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <div class="col nopadding me-1">
                <button type="button" class="wasteButton btn btn__view primary fs-4" id="wasteEnterButton" onclick="location.href='/tableWasteDefect/wastes'">
                    Ввод отхода<br>за смену
                </button>
            </div>
            <div class="col nopadding ms-1">
                <button type="button" class="defectButton btn btn__view primary fs-4" id="defectEnterButton">
                    Ввод брака<br>за смену
                </button>
            </div>
        </div>
        <div class="col-6 row">
            <div class="col nopadding me-1">
                <button type="button" class="btn btn__view primary fs-4" onClick="printWasteDefect(event)">
                    Печать
                </button>
            </div>
            <div class="col nopadding ms-1">
                <button type="button" class="btn btn__view secondary fs-4" onclick="location.href='/operator'">
                    Выход
                </button>
            </div>
        </div>
    </div>
    <!--Всплывающее окно ввода числовых значений-->
    <div class="modal hidden" id="numberModal">
        <div class="modal__number">
            <div class="modal_header">Брак</div>
            <div class="modal-window__body">
                <div class="row">
                    <div class="btn modal__input-number" id="inputDefect"></div>
                    <button type="button" class="btn modal__enter-button secondary" id="defectEnterCount">ВВОД КОЛ.</button>
                </div>
                <div class="number-keyboard">
                    <div class="keyboard__keys">
                        <div class="col">
                            <button type="button" class="keyboard__key">7</button>
                            <button type="button" class="keyboard__key">8</button>
                            <button type="button" class="keyboard__key">9</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">4</button>
                            <button type="button" class="keyboard__key">5</button>
                            <button type="button" class="keyboard__key">6</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">1</button>
                            <button type="button" class="keyboard__key">2</button>
                            <button type="button" class="keyboard__key">3</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">.</button>
                            <button type="button" class="keyboard__key">0</button>
                            <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>
</div>
<script src="/static/js/numberModal.js"></script>
<script>
    let wasteDefectTable = document.querySelector('#tableWasteDefect'); // Получение таблицы с продуктами
    let wasteDefectRows = document.querySelector('#tableWasteDefect tbody').rows; // Получение тела таблицы с веденными данными
    let wasteButton = document.querySelector('.wasteButton') // Кнопка добавления / печати отходов
    let defectButton = document.querySelector('.defectButton') // Кнопка добавления / печати брака

    wasteButton.addEventListener('click', () => {
        if (wasteButton.id == 'wasteEnterButton') {
            document.location.href='/operator/tableWasteDefect/wastes'
        } else {
            alert('Печать отходов')
        }
    })

    defectButton.addEventListener('click', () => {
        if (defectButton.id == 'defectEnterButton') {
            numberModalControl(event)
        } else {
            let wasteDefectCount = 0,
                wasteDefectWeight = 0

            for ( let i = 0; i < wasteDefectRows.length; i++) {
                if (wasteDefectRows[i].id == 'defect') {
                    wasteDefectCount += Number(wasteDefectRows[i].cells[2].innerHTML)
                    wasteDefectWeight += Number(wasteDefectRows[i].cells[3].innerHTML)
                }
            }
        
            mywindow = window.open('', 'PRINT', 'height=400,width=600,left=300,top=300');
        
            html ="";
        
            html += '<div>----------------------------------</div>'
            +'<div style="text-align: center; font-size: 16pt;"><b>Брак</b></div>'
            +'<b>Артикул</b> '+tprod+'<br>'
            +'<b>Оборудование</b> '+ttpa+'<br>'
            +'<b>Дата</b> '+ clock +' <br>'
            +'<b>Смена</b> '+ smena +'<br>'
            +'<b>Вес тары</b>______кг.<br>'
            +'<b>Количество</b> '+wasteDefectCount+' шт. <b>Вес</b> '+wasteDefectWeight+' кг.<br>'
            +'<b>ФИО</b> '+ operator +'<br>';
            var div = '<div class="my_print">'+html+'<div>----------------------------------</div></div>';
        
            printStickerWindow(div, mywindow);
        }
    })

    function printWasteDefect(event) {
        if (wasteButton.id == 'wasteEnterButton' && defectButton.id == 'defectEnterButton') {
            wasteButton.innerHTML = 'Печать отхода'
            wasteButton.id = 'wastePrintButton'
            wasteButton.classList.remove('primary')
            wasteButton.classList.add('btn-light')

            defectButton.innerHTML = 'Печать брака'
            defectButton.id = 'defectPrintButton'
            defectButton.classList.remove('primary')
            defectButton.classList.add('btn-light')
        } else {
            wasteButton.innerHTML = 'Ввод отхода <br> за смену'
            wasteButton.id = 'wasteEnterButton'
            wasteButton.classList.remove('btn-light')
            wasteButton.classList.add('primary')

            defectButton.innerHTML = 'Ввод брака <br> за смену'
            defectButton.id = 'defectEnterButton'
            defectButton.classList.remove('btn-light')
            defectButton.classList.add('primary')
        }
    }
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}