{% extends 'index_template.html' %}
{% block main_window %}
{% set current_product = somedata[0] %}
{% set all_wastes = somedata[1] %}

<div class="view">
    <div class="view-header text-center primary">Возвратные отходы и брак за смену</div>
    <div class="view-body jsScroll">
        <table class="table table-bordered text-center" id="table" border="1">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вид</th>
                    <th scope="col">Кол.</th>
                    <th scope="col">Кг.</th>
                    <th scope="col">Причина</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <div class="col nopadding me-1">
                <button type="button" class="wasteButton btn btn__view primary fs-4" id="wasteEnterButton">
                    Ввод отхода<br>за смену
                </button>
            </div>
            <div class="col nopadding ms-1">
                <button type="button" class="defectButton btn btn__view primary fs-4" id="defectEnterButton">
                    Ввод брака<br>за смену
                </button>
            </div>
        </div>
        <div class="col-6 row">
            <div class="col nopadding me-1">
                <button type="button" class="btn btn__view primary fs-4" onClick="printWasteDefect(event)">
                    Печать
                </button>
            </div>
            <div class="col nopadding ms-1">
                <button type="button" class="btn btn__view secondary fs-4" onclick="location.href='/operator'">
                    Выход
                </button>
            </div>
        </div>
    </div>
    <!--Всплывающее окно ввода числовых значений-->
    <div class="modal hidden" id="numberModal">
        <div class="modal__number">
            <div class="modal_header">Брак</div>
            <div class="modal-window__body">
                <div class="row">
                    <div class="btn modal__input-number" id="inputDefect"></div>
                    <button type="button" class="btn modal__enter-button secondary" id="defectEnterCount">ВВОД КОЛ.</button>
                </div>
                <div class="number-keyboard">
                    <div class="keyboard__keys">
                        <div class="col">
                            <button type="button" class="keyboard__key">7</button>
                            <button type="button" class="keyboard__key">8</button>
                            <button type="button" class="keyboard__key">9</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">4</button>
                            <button type="button" class="keyboard__key">5</button>
                            <button type="button" class="keyboard__key">6</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">1</button>
                            <button type="button" class="keyboard__key">2</button>
                            <button type="button" class="keyboard__key">3</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">.</button>
                            <button type="button" class="keyboard__key">0</button>
                            <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>

    <!-- Модальное (всплывающее) окно выбора продукта -->
    <div class="modal hidden" id="currentProductList">
        <div class="modal__list">
            <div class="modal_header">
                <h5 class="modal_title">Список продуктов</h5>
            </div>
            <div class="modal_content">
                <div class="modal_body jsScroll">
                    <table class="table table-bordered text-center" border="1" bordercolor="black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Добавить</th>
                                <th scope="col">Продукт</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for products in current_product %}
                            <tr>
                                <td class="nopadding table__button col-3">
                                    <button type="button" class="btn__table" id="selectProductButton" data-target="" data-prodoid="{{ products[0] }}" data-prodname="{{ products[1] }}" onClick="selectProduct(event)">Выбрать</button>
                                </td>
                                <td> {{ products[1] }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal_footer">
                    <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="currentProductList" onClick="modalController(event)"> Закрыть </button>
                </div>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>
    <!-- ----------------------------------------------------------- -->

    <!-- Модальное (всплывающее) окно выбора отхода -->
    <div class="modal hidden" id="addWaste">
        <div class="modal__list">
            <div class="modal_header">
                <h5 class="modal_title">Список отходов</h5>
            </div>
            <div class="modal_content">
                <div class="modal_body jsScroll">
                    <table class="table table-bordered text-center" border="1" bordercolor="black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Добавить</th>
                                <th scope="col">Отход</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(all_wastes|length) %}
                                <tr>
                                    <td class="nopadding table__button col-3">
                                        <button type="button" class="btn__table" id="addWaste" data-wasteoid="{{ all_wastes[i][0] }}" data-wastename="{{ all_wastes[i][1] }}" onClick="selectWaste(event)">Выбрать</button>
                                    </td>
                                    <td>{{ all_wastes[i][1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal_footer">
                    <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="addWaste" onClick="modalController(event)"> Закрыть </button>
                </div>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>
    <!-- ----------------------------------------------------------- -->

</div>
<script src="/static/js/numberModal.js"></script>
<script>
    let wasteDefectTable = document.querySelector('#table'); // Получение таблицы с продуктами
    let wasteDefectRows = document.querySelector('#table tbody').rows; // Получение тела таблицы с веденными данными
    let wasteButton = document.querySelector('.wasteButton') // Кнопка добавления / печати отходов
    let defectButton = document.querySelector('.defectButton') // Кнопка добавления / печати брака

    wasteButton.addEventListener('click', () => {
        if (wasteButton.id == 'wasteEnterButton') {
            document.getElementById('selectProductButton').dataset.target = 'wasteSelect'
            productList.classList.toggle('hidden')
        } else {
            alert('Печать отходов')
        }
    })

    defectButton.addEventListener('click', () => {
        if (defectButton.id == 'defectEnterButton') {
            document.getElementById('selectProductButton').dataset.target = 'defectSelect'
            productList.classList.toggle('hidden')
        } else {
            let weightHTML = ''

            for ( let i = 0; i < wasteDefectRows.length; i++) {
                weightHTML += wasteDefectRows[i].cells[1].innerHTML+' кг. '+ wasteDefectRows[i].cells[2].innerHTML.substr(wasteDefectRows[i].cells[2].innerHTML.indexOf(" ") + 1) +'<br>';
            }
    
            let mywindow = window.open('', 'PRINT', 'height=400,width=600,left=300,top=300');
    
            let html ="";
    
            html += '<div>----------------------------------</div>'
            +'<b>Артикул</b> <br>'
            +'<b>Оборудование</b>'+ ttpa +'<br>'
            +'<b>Дата</b>'+clock+'<br>'
            +'<b>Смена</b> <br>'
            +'<b>Вес тары</b> <br>'
            +'<b>Количество</b><b>Вес</b> <br>'
            +'<b>ФИО</b> <br>'
            var div = '<div class="my_print">'+html+'<div>----------------------------------</div></div>';
    
            printStickerWindow(div, mywindow);
        }
    })

    function printWasteDefect(event) {
        if (wasteButton.id == 'wasteEnterButton' && defectButton.id == 'defectEnterButton') {
            wasteButton.innerHTML = 'Печать отхода'
            wasteButton.id = 'wastePrintButton'
            wasteButton.classList.remove('primary')
            wasteButton.classList.add('btn-light')

            defectButton.innerHTML = 'Печать брака'
            defectButton.id = 'defectPrintButton'
            defectButton.classList.remove('primary')
            defectButton.classList.add('btn-light')
        } else {
            wasteButton.innerHTML = 'Ввод отхода <br> за смену'
            wasteButton.id = 'wasteEnterButton'
            wasteButton.classList.remove('btn-light')
            wasteButton.classList.add('primary')

            defectButton.innerHTML = 'Ввод брака <br> за смену'
            defectButton.id = 'defectEnterButton'
            defectButton.classList.remove('btn-light')
            defectButton.classList.add('primary')
        }
    }
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}