<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>
<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/socket.io.js')}}"></script>

    {% set malfunctionCause = somedata[0] %}
    {% set malfunctionDescription = somedata[1] %}
    {% set takenMeasures = somedata[2] %}

    <div class="view">
        <div class="view-header"> ФИКСАЦИЯ ПРОСТОЯ </div>
        <div class="view-body view-body_idleEnter">
            <form action="" class="idle-form" id="idleEnterForm">
                <div class="idle-form__body mt-2">
                    <input class="input-group-text_idle idle-data" type="hidden" name="idleOid" value="">
                    <div class="row">
                        <div class="input-group mb-2 input-group_double">
                            <span class="input-group-text input-group-text_idle input-group-text_green">Прошло времени</span>
                            <input type="text" class="form-control form-control_idle" value="" placeholder="Время простоя" readonly>
                        </div>
                        <div class="input-group mb-2 input-group_double">
                            <span class="input-group-text input-group-text_idle input-group-text_green">Наладчик</span>
                            <input class="idle-data" type="hidden" name="userOid" value="">
                            <input type="text" class="form-control form-control_idle idle-data" value="{{ current_user }}" name="idleCreator" placeholder="Ф.И.О Наладчика" readonly>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Причина неисправности</span> 
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleCause" name="idleCause" value="" onclick="modalController(event)" placeholder="Выберите причину неисправности..." readonly>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Описание неисправности</span>
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleDescription" name="idleDescription" value="" onclick="modalController(event)" placeholder="Выберите описание неисправности..." readonly>  
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Предпринятые меры</span>
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleTakenMeasures" name="idleTakenMeasures" value="" onclick="modalController(event)" placeholder="Выберите предпринятые меры..." readonly>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Комментарий</span>
                        <input type="text" class="form-control form-control_idle idle-data use-keyboard-input" name="idleNote" value="" placeholder="Введите комментарий...">
                    </div>
                    <input type="hidden" class="idle-data" name="shiftTaskData" id="shiftTaskData" value="">

                    <div class="idle-form__body_waste mt-4">
                        <span class="input-group-text input-group-text_idle input-group-text_green input-group-text_waste mb-3">Отходы</span>
                        <div class="waste-card mb-2 row">
                            <select class="form-select custom-select custom-select_waste ms-4" name="idleWasteData" id="wasteSelect">
                                <option>Выберите отход</option>
                            </select>
                            <div class="weight-input input-group">
                                <input type="text" class="form-control" id="wasteWeight" name="idleWasteWeight" onClick="numberModalControl(event)" placeholder="Вес" value="" aria-describedby="" readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                            <div class="btn_add-waste align-middle" onClick="addWaste()">Добавить</div>
                            <div class="btn_delete-waste" onClick="deleteWaste()">Удалить</div>
                        </div>
                        <div class="waste-card mb-2 row hidden">
                            <select class="form-select custom-select custom-select_waste ms-4" name="idleWasteData" id="wasteSelect">
                                <option selected>Выберите отход</option>
                            </select>
                            <div class="weight-input input-group">
                                <input type="text" class="form-control" id="wasteWeight" name="idleWasteWeight" onClick="numberModalControl(event)" placeholder="Вес" aria-describedby="" readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                        </div>
                        <div class="waste-card mb-2 row hidden">
                            <select class="form-select custom-select custom-select_waste ms-4" name="idleWasteData" id="wasteSelect">
                                <option selected>Выберите отход</option>
                            </select>
                            <div class="weight-input input-group">
                                <input type="text" class="form-control" id="wasteWeight" name="idleWasteWeight" onClick="numberModalControl(event)" placeholder="Вес" aria-describedby="" readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                        </div>
                        <div class="waste-card mb-2 row hidden">
                            <select class="form-select custom-select custom-select_waste ms-4" name="idleWasteData" id="wasteSelect">
                                <option selected>Выберите отход</option>
                            </select>
                            <div class="weight-input input-group">
                                <input type="text" class="form-control" id="wasteWeight" name="idleWasteWeight" onClick="numberModalControl(event)" placeholder="Вес" aria-describedby="" readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-between px-3 pb-4">
            <div class="col-6 row">
                <div class="col me-1">
                    <button type="button" class="btn btn__view btn__view_journal primary fs-3">
                       Ввести простой
                    </button>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col ms-1">
                    <button type="button" class="btn btn__view btn__view_journal secondary fs-1" onclick="location.href='/adjuster'">
                        Выход
                    </button>
                </div>
            </div>
        </div>

        <!-- Модальное (всплывающее) окно выбора причины неисправности -->
        <div class="modal hidden" id="idleCause">
            <div class="modal__list">
                <div class="view-header">Причина неисправности</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input use-keyboard-input" id="searchPressForm" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleCause" size="15">
                            {% for cause in malfunctionCause %}
                                <option value="{{ cause[0] }}"> {{ cause[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" > Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleCause" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора описания неисправности -->
        <div class="modal hidden" id="idleDescription">
            <div class="modal__list">
                <div class="view-header">Описание неисправности</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input openKeyBig use-keyboard-input" id="searchPressForm" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleCause" size="15">
                            {% for takenMeasure in takenMeasures %}
                                <option value="{{ takenMeasure[0] }}"> {{ takenMeasure[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" > Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleDescription" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора предпринятых мер -->
        <div class="modal hidden" id="idleTakenMeasures">
            <div class="modal__list">
                <div class="view-header">Предпринятые меры</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input openKeyBig use-keyboard-input" id="searchPressForm" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleCause" size="15">
                            {% for description in malfunctionDescription %}
                                <option value="{{ description[0] }}"> {{ description[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" > Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleTakenMeasures" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!--Всплывающее окно ввода числовых значений-->
        <div class="modal hidden" id="numberModal">
            <div class="modal__number">
                <div class="modal_header">Количество</div>
                <div class="modal-window__body">
                    <div class="row">
                        <div class="btn modal__input-number"></div>
                        <button type="button" class="btn modal__enter-button secondary">ВВОД</button>
                    </div>
                    <div class="number-keyboard">
                        <div class="keyboard__keys">
                            <div class="col">
                                <button type="button" class="keyboard__key">7</button>
                                <button type="button" class="keyboard__key">8</button>
                                <button type="button" class="keyboard__key">9</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">4</button>
                                <button type="button" class="keyboard__key">5</button>
                                <button type="button" class="keyboard__key">6</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">1</button>
                                <button type="button" class="keyboard__key">2</button>
                                <button type="button" class="keyboard__key">3</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">.</button>
                                <button type="button" class="keyboard__key">0</button>
                                <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal_footer">
                    <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

    </div>
    <script src="/static/js/keyboard.js"></script>
    <script src="/static/js/numberModal.js"></script>
    <script>
        let i = 0
        let elementList = document.querySelectorAll('.waste-card')
        
        for(let element of elementList){
            if(!elementList[i].classList.contains('hidden')){
                i++
            }
        }

        // Управление модальным окном
        function modalController(event){ 
            toggler = event.target.dataset.toggle // Кнопка открытия/закрытия модального окна
            target = event.target.dataset.target // ID модального окна ( атрибут data-target )
            modal = document.getElementById(target) // Получение нужного модальног окна по ID
            // Открытие/закрытие модального окна
            modal.classList.toggle('hidden');
        }

        function addWaste() {
            if(i < elementList.length){
                if(elementList[i].classList.contains('hidden')){
                    elementList[i].classList.remove('hidden')
                    i++
                }
            }
            console.log(i)
        }
        
        function deleteWaste() {
            if(i != 1){
                if( !elementList[i-1].classList.contains('hidden')){
                    elementList[i-1].classList.add('hidden')
                    let select = elementList[i-1].querySelector('#wasteSelect')
                    let weight = elementList[i-1].querySelector('#wasteWeight')
                    select.selectedIndex = 0
                    weight.value = null
                    i--
                }
            }
            else if(i == 1) {
                let select = elementList[i-1].querySelector('#wasteSelect')
                let weight = elementList[i-1].querySelector('#wasteWeight')
                select.selectedIndex = 0
                weight.value = null
            }
        }
        
        let jsScroll = document.getElementsByClassName('jsScroll');

        if(jsScroll){
            [].forEach.call(jsScroll, function(item) {
                let startX, startY;
                let listener = function(e) {
                    startX = this.scrollLeft + e.pageX;
                    startY = this.scrollTop + e.pageY;
                    item.addEventListener('mousemove', endListener);
                };
            
                let endListener = function(e) {
                    this.scrollLeft = startX - e.pageX;
                    this.scrollTop = startY - e.pageY;
                    return false;
                };
            
                item.addEventListener('mousedown', listener);
            
                window.addEventListener("mouseup", function(){ 
                    item.removeEventListener('mousemove', endListener);
                });
            });
        }

    </script>
</body>
</html>