<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>
<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/socket.io.js')}}"></script>

    {% set downtimeData = somedata[0] %}
    {% set downtimeType = somedata[1] %}
    {% set malfunctionCause = somedata[2] %}
    {% set malfunctionDescription = somedata[3] %}
    {% set takenMeasures = somedata[4] %}
    {% set all_wastes = somedata[5] %}
    {% set existing_wastes = somedata[6] %}
    {% set current_product = somedata[7] %}
    {% set existing_defect = somedata[8] %}


    {% if downtimeData[3] != None %}
        {% set idleTime = downtimeData[0][3] - downtimeData[0][2] %}
    {% endif %}

    <div class="notice notice-error" style="display: none;">
        Ошибка!
    </div>
    <div class="view">
        <div class="view-header"> ФИКСАЦИЯ ПРОСТОЯ </div>
        <div class="view-body_idleEnter">
            <form action="" class="idle-form" id="idleEnterForm">
                <div class="idle-form__body mt-2">
                    <input type="hidden" id="idleOid" value="{{downtimeData[0][0]}}">
                    <div class="row">
                        <div class="input-group mb-2 input-group_double">
                            <span class="input-group-text input-group-text_idle input-group-text_green">Прошло времени</span>
                            <input type="hidden" id="idleTime" data-startdate="{{ downtimeData[0][2] }}" data-enddate="{{ downtimeData[0][3] }}">
                            <input type="text" class="form-control form-control_idle" value="{{ idleTime }}" placeholder="Время простоя" readonly>
                        </div>
                        <div class="input-group mb-2 input-group_double">
                            <span class="input-group-text input-group-text_idle input-group-text_green">Наладчик</span>
                            <input class="idle-data" type="hidden" data-data="{{ current_user.oid }}">
                            <input type="text" class="form-control form-control_idle" value="{{ current_user.name }}" placeholder="Ф.И.О Наладчика" readonly>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Тип простоя</span> 
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleType" data-data="" value="" onclick="modalController(event)" placeholder="Выберите тип простоя..." readonly>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Причина неисправности</span> 
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleCause" data-data="" value="" onclick="modalController(event)" placeholder="Выберите причину неисправности..." readonly>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Описание неисправности</span>
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleDescription" data-data="" value="" onclick="modalController(event)" placeholder="Выберите описание неисправности..." readonly>  
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Предпринятые меры</span>
                        <input type="text" class="form-control form-control_idle idle-data" data-target="idleTakenMeasures" data-data="" value="" onclick="modalController(event)" placeholder="Выберите предпринятые меры..." readonly>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-group-text_idle input-group-text_blue">Комментарий</span>
                        <input type="text" class="form-control form-control_idle idle-data use-keyboard-input" id="idleNote" value="" placeholder="Введите комментарий...">
                    </div>

                    <div class="idle-form__body_waste mt-4">
                        <div class="row p-1">
                            <div class="col">
                                <div class="btn_waste shadow" id="addNewWaste" data-target="optionSelect" onclick="modalOption(event)">Добавить отход</div>
                            </div>
                            <div class="col">
                                <div class="btn_defect shadow" id="addDefect" data-target="optionSelect" onclick="modalOption(event)">Добавить брак</div>
                            </div>
                        </div> 
                        
                        <div class="idle_enteredData px-3 mt-1 jsScroll">  
                        </div> 
                    </div>
                </div>
                <div class="d-flex justify-content-between px-3 pb-4">
                    <div class="col-6 row">
                        <div class="col me-1">
                            <button type="submit" class="btn btn__view btn__view_journal primary fs-3">
                               Ввести простой
                            </button>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col ms-1">
                            <button type="button" class="btn btn__view btn__view_journal secondary fs-1" onclick="location.href='/adjuster/journal'">
                                Выход
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Модальное (всплывающее) окно выбора типа простоя -->
        <div class="modal hidden" id="idleType">
            <div class="modal__list">
                <div class="view-header">Причина неисправности</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input use-keyboard-input" id="idleTypeInput" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleType" size="15">
                            {% for type in downtimeType %}
                                <option value="{{ type[0] }}"> {{ type[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" id="idleTypeAccept" data-target="idleType"> Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleType" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора причины неисправности -->
        <div class="modal hidden" id="idleCause">
            <div class="modal__list">
                <div class="view-header">Причина неисправности</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input use-keyboard-input" id="idleCauseInput" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleCause" size="15">
                            {% for cause in malfunctionCause %}
                                <option value="{{ cause[0] }}"> {{ cause[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" id="idleCauseAccept" data-target="idleCause"> Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleCause" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора описания неисправности -->
        <div class="modal hidden" id="idleDescription">
            <div class="modal__list">
                <div class="view-header">Описание неисправности</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input openKeyBig use-keyboard-input" id="idleDescriptionInput" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleDescription" size="15">
                            {% for description in malfunctionDescription %}
                                <option value="{{ description[0] }}"> {{ description[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" id="idleDescriptionAccept" data-target="idleDescription"> Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleDescription" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора предпринятых мер -->
        <div class="modal hidden" id="idleTakenMeasures">
            <div class="modal__list">
                <div class="view-header">Предпринятые меры</div>
                <div class="row">
                    <div class="search-label" for="">Поиск</div>
                    <input class="search-input openKeyBig use-keyboard-input" id="idleTakenMeasuresInput" type="text">
                </div>
                <div class="modal_content" style="height: 90%;">
                    <div class="modal_body"> 
                        <select class="custom-select jsScroll" id="idleTakenMeasures" size="15">
                            {% for takenMeasure in takenMeasures %}
                                <option value="{{ takenMeasure[0] }}"> {{ takenMeasure[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide primary" id="idleTakenMeasuresAccept" data-target="idleTakenMeasures"> Выбрать </button>
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="idleTakenMeasures" onClick="modalController(event)"> Отмена </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

         <!-- Модальное (всплывающее) окно выбора продукта -->
        <div class="modal hidden" id="currentProductList" data-productcount="{{current_product|length}}">
            {% if current_product|length == 1%}
                <input type="hidden" id="oneProductData" data-proddataoid="{{ current_product[0][0] }}" data-prodname="{{ current_product[0][1] }}">
            {% endif %}
            <div class="modal__list">
                <div class="modal_header">
                    <h5 class="modal_title">Список продуктов</h5>
                </div>
                <div class="modal_content">
                    <div class="modal_body jsScroll">
                        <table class="table table-bordered text-center" border="1" bordercolor="black">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Добавить</th>
                                    <th scope="col">Продукт</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for products in current_product %}
                                    <tr>
                                        <td class="nopadding table__button col-3">
                                            <button type="button" class="btn__table btn__table_dark" id="selectProductButton" data-target="" data-modal="" data-proddataoid="{{ products[0] }}" data-prodname="{{ products[1] }}" onClick="selectProduct(event)">Выбрать</button>
                                        </td>
                                        <td> {{ products[1] }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="currentProductList" onClick="modalController(event)"> Закрыть </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) окно выбора добавления нового или привязки существующего -->
        <div class="modal hidden" id="optionSelect">
            <div class="modal__option">
                <button type="button" class="btn-close position-absolute" aria-label="Закрыть" data-toggle="modalClose" data-target="optionSelect" onClick="modalOption(event)"></button>
                <div class="modal_content justify-content-center">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="btn btn__option primary fs-3 me-3" data-target="" id="addNew" onClick="selectIdleProduct(event)">Добавить новый</div>
                        <div class="btn btn__option primary fs-3" data-target="" data-modal="" id="addExisting" onClick="wasteDefectController(event)">Привязать существующий</div>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>

        <!-- Модальное (всплывающее) окно выбора отхода -->
        <div class="modal hidden" id="addWaste">
            <div class="modal__list">
                <div class="modal_header">
                    <h5 class="modal_title">Список отходов</h5>
                </div>
                <div class="modal_content">
                    <div class="modal_body jsScroll">
                        <table class="table table-bordered text-center" border="1" bordercolor="black">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Добавить</th>
                                    <th scope="col">Отход</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(all_wastes|length) %}
                                    <tr>
                                        <td class="nopadding table__button col-3">
                                            <button type="button" class="btn__table btn__table_dark" id="addWaste" data-wasteoid="{{ all_wastes[i][0] }}" data-wastename="{{ all_wastes[i][1] }}" onClick="selectIdleWaste(event)">Выбрать</button>
                                        </td>
                                        <td>{{ all_wastes[i][1] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal_footer">
                        <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="addWaste" onClick="modalController(event)"> Закрыть </button>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

        <!-- Модальное (всплывающее) привязки существующих отходов -->
        <div class="modal hidden" id="addExistingWaste" data-wastescount="{{existing_wastes|length}}">
            <div class="modal__addWasteDefect">
                <div class="modal_content justify-content-start p-3">
                    {% for waste in existing_wastes %}
                        <div class="waste-card mb-2 row" data-wasteoid = '{{ waste[0] }}'>
                            <input class="form-control form-control-lg" style="width: 62%;" type="text" value="{{ waste[1] }}"  disabled readonly>
                            <div class="input-group" style="width: 14%;">
                                {% set weight = waste[2] | string() %}
                                <input type="text" class="form-control" id="existingWasteWeight" value="{{ weight[:-3] }}" disabled readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                            <input class="form-control form-control-lg me-3" style="width: 11%;" type="text" value="{{ waste[3].strftime('%H:%M:%S') }}"  disabled readonly>
                            <div class="btn_waste btn_waste-add align-middle"
                                data-wasteoid="{{ waste[0] }}" data-wastename="{{ waste[1] }}"
                                data-wasteweight="{{ waste[2] }}" data-wastetime="{{ waste[3].strftime('%H:%M:%S') }}"
                                onClick="addEnteredData(event, 'existingWaste')">
                                Выбрать
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-around" style="margin-top: auto; margin-bottom: -5px;">
                        <div class="btn btn__option primary fs-3" data-toggle="modalClose" data-modal="addExistingWaste" onClick="wasteDefectController(event)">Отмена</div>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>

        <!-- Модальное (всплывающее) привязки существующего брака -->
        <div class="modal hidden" id="addExistingDefect" data-defectcount="{{existing_defect|length}}">
            <div class="modal__addWasteDefect">
                <div class="modal_content justify-content-start p-3">
                    {% for defect in existing_defect %}
                        <div class="waste-card mb-2 row" data-defectoid = '{{ defect[0] }}'>
                            <input class="form-control form-control-lg" style="width: 48%;" type="text" value="{{ defect[1] }}"  disabled readonly>
                            <div class="input-group" style="width: 14%;">
                                {% set weight = defect[2] | string() %}
                                <input type="text" class="form-control" value="{{ weight[:-3] }}" disabled readonly>
                                <span class="input-group-text">КГ</span>
                            </div>
                            <div class="input-group" style="width: 14%;">
                                {% set count = defect[3] | string() %}
                                <input type="text" class="form-control" value="{{ weight[:-3] }}" disabled readonly>
                                <span class="input-group-text">ШТ</span>
                            </div>
                            <input class="form-control form-control-lg me-3" style="width: 11%;" type="text" value="{{ defect[4].strftime('%H:%M:%S') }}"  disabled readonly>
                            <div class="btn_waste btn_waste-add align-middle"
                                data-defectoid="{{ defect[0] }}" data-defectproduct="{{ defect[1] }}" data-defectweight="{{ defect[2] }}"
                                data-defectcount="{{ defect[3] }}" data-defecttime="{{ defect[4].strftime('%H:%M:%S') }}"
                                onClick="addEnteredData(event, 'existingDefect')">
                                Выбрать
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-around" style="margin-top: auto; margin-bottom: -5px;">
                        <div class="btn btn__option primary fs-3" data-toggle="modalClose" data-target="addExistingDefect" onClick="modalController(event)">Отмена</div>
                    </div>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>

        <!--Всплывающее окно ввода числовых значений-->
        <div class="modal hidden" id="numberModal">
            <div class="modal__number">
                <div class="modal_header">ВВОД</div>
                <div class="modal-window__body">
                    <div class="row">
                        <div class="btn modal__input-number" id="inputDefect"></div>
                        <button type="button" class="btn modal__enter-button secondary" id="defectEnterCount">ВВОД КОЛ.</button>
                    </div>
                    <div class="number-keyboard">
                        <div class="keyboard__keys">
                            <div class="col">
                                <button type="button" class="keyboard__key">7</button>
                                <button type="button" class="keyboard__key">8</button>
                                <button type="button" class="keyboard__key">9</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">4</button>
                                <button type="button" class="keyboard__key">5</button>
                                <button type="button" class="keyboard__key">6</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">1</button> 
                                <button type="button" class="keyboard__key">2</button>
                                <button type="button" class="keyboard__key">3</button>
                            </div>
                            <div class="col">
                                <button type="button" class="keyboard__key">.</button>
                                <button type="button" class="keyboard__key">0</button>
                                <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal_footer">
                    <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
                </div>
            </div>
            <div class="bg-blur"></div>
        </div>
        <!-- ----------------------------------------------------------- -->

    </div>
    <script src="/static/js/keyboard.js"></script>
    <script src="/static/js/numberModal.js"></script>
    <script>
        
        let idleInput = document.querySelectorAll('input.idle-data');
        let enteredData = null

        // Управление модальным окном
        function modalController(event){
            dataInput = event.target // Инпукт/строка в который будут вноситься данные
            toggler = event.target.dataset.toggle // Кнопка открытия/закрытия модального окна
            target = event.target.dataset.target // ID модального окна ( атрибут data-target )
            modal = document.getElementById(target) // Получение нужного модальног окна по ID
            // Открытие/закрытие модального окна
            modal.classList.toggle('hidden');


            // Новая система поиска, для списков с большим объемом данных
            const searchInput = document.querySelector('#'+target+'Input');
            const searchSelect = document.querySelector('select#'+target);
            const searchItems = searchSelect.querySelectorAll('option');
            
            document.addEventListener("click", function(e) {
                const fragment = document.createDocumentFragment();
                const val = searchInput.value.trim().toUpperCase();

                if (e.target.classList.contains('keyboard__key--done')) {
                    for (const elem of searchItems) {
                      elem.remove();
                    
                      if (val === '' || elem.innerText.toUpperCase().includes(val)) {
                        fragment.append(elem);
                      }
                    }
                }

                searchSelect.append(fragment);
            })
            // --------------------------------------------------------------


            let select = document.querySelector('select#'+target)
            let accept = document.getElementById(target+'Accept')

            select.addEventListener('change', (event) => {
                dataInput.value = event.target.options[event.target.selectedIndex].text;
                dataInput.dataset.data = event.target.value
                select.classList.remove('outline-red')
                accept.onclick = function(){
                    document.getElementById(target).classList.toggle('hidden')
                }
            });
        }

        function modalOption(event) {
            toggler = event.target.dataset.toggle // Кнопка открытия/закрытия модального окна
            target = event.target.dataset.target // ID модального окна ( атрибут data-target )
            modal = document.getElementById(target) // Получение нужного модальног окна по ID
            
            let addNewButton = document.querySelector('#addNew') // Кнопка добавления нового
            let addExistingButton = document.querySelector('#addExisting') // Кнопка привязки существующих
            
            if( event.target.id == 'addNewWaste' ) {
                addNewButton.dataset.modal = 'addNewWaste'
                addExistingButton.dataset.modal = 'addExistingWaste'
            } else {
                addNewButton.dataset.modal = 'addNewDefect'
                addExistingButton.dataset.modal = 'addExistingDefect'
            }
            // Открытие/закрытие модального окна
            modal.classList.toggle('hidden');
        }

        function selectIdleProduct(event) {
            productList = document.querySelector('#currentProductList')
            if (productList.dataset.productcount == 1) {
                let oneProductData = document.querySelector('#oneProductData')
                productData = [oneProductData.dataset.proddataoid, oneProductData.dataset.prodname]
                document.querySelector('#optionSelect').classList.add('hidden')
                
                if(event.target.dataset.modal == 'addNewWaste') {
                    document.getElementById('addWaste').classList.toggle('hidden')
                } else {
                    enter.innerHTML = 'ВВОД КОЛ.'
                    enter.id = 'defectIdleEnterCount'
                
                    numberModalControl(event)
                }
                
            } else {
                document.querySelector('#optionSelect').classList.add('hidden')
                let selectProductButton = document.querySelectorAll('#selectProductButton')
                
                if(event.target.dataset.modal == 'addNewWaste') {
                    for (let i = 0; i < selectProductButton.length; i++){
                        selectProductButton[i].dataset.target = 'addIdleWaste'
                        selectProductButton[i].dataset.modal = 'addNewWaste'
                    }
                } else {
                    for (let i = 0; i < selectProductButton.length; i++){
                        selectProductButton[i].dataset.target = 'addIdleDefect'
                        selectProductButton[i].dataset.modal = 'addNewDefect'
                    }
                }
                productList.classList.toggle('hidden')
            }
        }

        function selectIdleWaste(event) {
            wasteData = [event.target.dataset.wasteoid, event.target.dataset.wastename]
            document.getElementById('addWaste').classList.toggle('hidden')
        
            enter.innerHTML = 'ВВОД КГ.'
            enter.id = 'addIdleWasteWeight'
        
            numberModalControl(event)
        }

        function wasteDefectController(event) {
            toggler = event.target.dataset.toggle // Кнопка открытия/закрытия модального окна
            target = event.target.dataset.modal // ID модального окна ( атрибут data-target )
            modal = document.getElementById(target) // Получение нужного модальног окна по ID

            if (target == 'addExistingWaste' && modal.dataset.wastescount == 0) {
                showError('Отсутсвуют введенные отходы!')
            }
            else if (target == 'addExistingDefect' && modal.dataset.defectcount == 0) {
                showError('Отсутсвует введенный брак!')
            }
            else {
                document.querySelector('#optionSelect').classList.add('hidden')
                // Открытие/закрытие модального окна
                modal.classList.toggle('hidden');
            }
        }
        
        function addEnteredData(data,type) {
            let dataBlock = ''
            
            if (type == 'waste') {
                dataBlock = `
                <div class="enteredData waste-card mb-2 row" id="newWasteEnter" data-proddataoid="`+ data[0][0] +`" data-materialoid = "`+ data[1][0] +`" data-wasteWeight = "`+ data[2] +`">
                    <div class="input-group p-0 me-2" style="width: 74.3%;">
                        <span class="input-group-text text-bg-primary fs-5" style="width: 90px;">Отход</span>
                        <input type="text" class="form-control fs-5" value='`+ data[1][1] +`' disabled readonly>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ data[2] +`" disabled readonly>
                        <span class="input-group-text" >КГ</span>
                    </div>
                    <input class="form-control form-control-lg" style="width: 11%;" type="text" value="Новый"  disabled readonly>
                </div> `
                $('.idle_enteredData').append(dataBlock)
            }
            else if (type == 'existingWaste') {
                data = [event.target.dataset.wasteoid, event.target.dataset.wastename, event.target.dataset.wasteweight, event.target.dataset.wastetime]
                dataBlock = `
                <div class="enteredData waste-card mb-2 row" id="existingWasteEnter" data-wasteoid = "`+ data[0] +`">
                    <div class="input-group p-0 me-2" style="width: 74.3%;">
                        <span class="input-group-text text-bg-primary fs-5" style="width: 90px;">Отход</span>
                        <input type="text" class="form-control fs-5" value='`+ data[1] +`' disabled readonly>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ parseFloat(data[2]) +`" disabled readonly>
                        <span class="input-group-text" >КГ</span>
                    </div>
                    <input class="form-control form-control-lg" style="width: 11%;" type="text" value="`+ data[3] +`"  disabled readonly>
                </div> `
                $('.idle_enteredData').append(dataBlock)
                document.querySelector('#addExistingWaste').classList.toggle('hidden')
            }
            else if (type == 'existingDefect') {
                data = [event.target.dataset.defectoid, event.target.dataset.defectproduct, event.target.dataset.defectweight, event.target.dataset.defectcount, event.target.dataset.defecttime]
                dataBlock = `
                <div class="enteredData waste-card mb-2 row" id="existingDefectEnter" data-defectoid = "`+ data[0] +`">
                    <div class="input-group p-0 me-2" style="width: 60.3%;">
                        <span class="input-group-text text-bg-danger fs-5" style="width: 90px;">Брак</span>
                        <input type="text" class="form-control fs-5" value='`+ data[1] +`' disabled readonly>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ parseFloat(data[2]) +`" disabled readonly>
                        <span class="input-group-text" >КГ</span>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ parseFloat(data[3]) +`" disabled readonly>
                        <span class="input-group-text" >ШТ</span>
                    </div>
                    <input class="form-control form-control-lg" style="width: 11%;" type="text" value="`+ data[4] +`"  disabled readonly>
                </div> `
                $('.idle_enteredData').append(dataBlock)
                document.querySelector('#addExistingDefect').classList.toggle('hidden')
            }
            else if (type == 'defect') {
                dataBlock = `
                <div class="enteredData waste-card mb-2 row" id="newDefectEnter" data-proddataoid="`+ data[0][0] +`" data-defectcount="`+ parseFloat(data[1]) +`" data-defectweight="`+ parseFloat(data[2]) +`">
                    <div class="input-group p-0 me-2" style="width: 60.3%;">
                        <span class="input-group-text text-bg-danger fs-5" style="width: 90px;">Брак</span>
                        <input type="text" class="form-control fs-5" value='`+ data[0][1] +`' disabled readonly>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ parseFloat(data[1]) +`" disabled readonly>
                        <span class="input-group-text" >ШТ</span>
                    </div>
                    <div class="input-group" style="width: 14%;">
                        <input type="text" class="form-control fs-5" value="`+ parseFloat(data[2]) +`" disabled readonly>
                        <span class="input-group-text" >КГ</span>
                    </div>
                    <input class="form-control form-control-lg" style="width: 11%;" type="text" value="Новый"  disabled readonly>
                </div> `
                $('.idle_enteredData').append(dataBlock)
            }
        }

        // Формирования массива данных для отправки на сервер        
        $('#idleEnterForm').submit(function(e) {
            e.preventDefault();
            let idleOid = document.querySelector('#idleOid').value

            let inputData = [],
            idleData = {},
            wasteData = [],
            existingWasteData = [],
            defectData = [],
            existingDefectData = [],
            emptySlots = 0,
            idleEnd

            enteredData = document.getElementsByClassName('enteredData')

            let idleStart = document.getElementById('idleTime').dataset.startdate
            if ( document.getElementById('idleTime').dataset.enddate != 'None' ) {
                idleEnd = document.getElementById('idleTime').dataset.enddate
            } else {
                idleEnd = ''
            }
            

            for (let i = 0; i < idleInput.length; i++) {
                if(idleInput[i].id == 'idleNote') {
                    inputData.push(idleInput[i].value)
                } else {
                    inputData.push(idleInput[i].dataset.data)
                }

                if (idleInput[i].dataset.data == "" && idleInput[i].id != 'idleNote'){
                    emptySlots ++
                    idleInput[i].classList.add("inv-input")
                } else {
                    idleInput[i].classList.remove("inv-input")
                }
            }

            idleData = {
                "idleOid": idleOid,
                "creatorOid": inputData[0],
                "idleType": inputData[1],
                "idleCause": inputData[2],
                "idleDescription": inputData[3],
                "idleTakenMeasures": inputData[4],
                "idleNote" : inputData[5],
                "idleStart" : idleStart,
                "idleEnd" : idleEnd
            }

            for (let i = 0; i < enteredData.length; i++) {
                if (enteredData[i].id == 'newWasteEnter') {
                    let data = enteredData[i].dataset
                    wasteData.push([data.proddataoid+','+data.materialoid+','+data.wasteweight])
                }
                else if (enteredData[i].id == 'existingWasteEnter') {
                    let data = enteredData[i].dataset
                    existingWasteData.push(data.wasteoid)
                }
                else if (enteredData[i].id == 'newDefectEnter') {
                    let data = enteredData[i].dataset
                    defectData.push(data.proddataoid+','+data.defectcount+','+data.defectweight)
                }
                else {
                    let data = enteredData[i].dataset
                    existingDefectData.push(data.defectoid)
                }
            }

            if (wasteData.length != 0) {
                idleData['newWaste'] = wasteData
            }           
            if (existingWasteData.length != 0) {
                idleData['existingWaste'] = existingWasteData
            }
            if (defectData.length != 0) {
                idleData['newDefect'] = defectData
            }
            if (existingDefectData.length != 0) {
                idleData['existingDefect'] = existingDefectData
            }

            console.log(emptySlots)

            if(emptySlots == 0) {
                let socket = io();
                socket.emit('idleEnterFixing', idleData);
            }

        });
        //-----------------------------------------------------------------------------

        let jsScroll = document.getElementsByClassName('jsScroll');

        if(jsScroll){
            [].forEach.call(jsScroll, function(item) {
                let startX, startY;
                let listener = function(e) {
                    startX = this.scrollLeft + e.pageX;
                    startY = this.scrollTop + e.pageY;
                    item.addEventListener('mousemove', endListener);
                };
            
                let endListener = function(e) {
                    this.scrollLeft = startX - e.pageX;
                    this.scrollTop = startY - e.pageY;
                    return false;
                };
            
                item.addEventListener('mousedown', listener);
            
                window.addEventListener("mouseup", function(){ 
                    item.removeEventListener('mousemove', endListener);
                });
            });
        }

        function showError(text) {
            let errorObject = document.querySelector('.notice-error')
            errorObject.innerHTML = text
            errorObject.style.display = 'block'
            setTimeout(function(){
                errorObject.style.display = 'none'
            },3000);
        }
    </script>
</body>
</html>