<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav font-3">
                    {% for tpa in device_tpa %}
                        {% if tpa['Oid'] == current_tpa[0]%}
                            <li class="nav-item">
                                <button class="nav-link nav_tpa nav_green active" data-oid="{{ tpa['Oid'] }}" data-name="{{ tpa['Name'] }}" onClick="changeTPA(event)">{{ tpa['Name'] }}</button>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <button class="nav-link nav_tpa nav_green" data-oid="{{ tpa['Oid'] }}" data-name="{{ tpa['Name'] }}" onClick="changeTPA(event)">{{ tpa['Name'] }}</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    function changeTPA(event){
        let tpaOid = event.target.dataset.oid;
        let tpaName = event.target.dataset.name;

        xhr = new XMLHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                location.reload()
            }
        }
        xhr.open("GET", "/changeTpa?oid="+tpaOid+"&name="+tpaName, true)
        xhr.send()
    }
</script>
