<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>

<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/socket.io.js')}}"></script>
    <script>
        let socket = io()
        let address = "{{request.remote_addr}}"
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
    <input type="hidden" id="current_user" value="{{ current_user }}">
    {% block navbar %} {% endblock %}
    <div class="main-page container">
        <div class="row">
            <div class="col-2">
                {% for tpa in device_tpa %}
                    {% if tpa['Oid'] == current_tpa[0]%}
                        {% if tpa['WorkStatus'] == True %}
                            <div class="card height120 shadow green">
                                <div class="card-body" style="padding: 0.9rem 1.25rem">
                                    <p class="card-text text-center" id="ttpa" data-oid="{{ current_tpa[0] }}">{{ current_tpa[1] }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="card height120 shadow red">
                                <div class="card-body" style="padding: 0.9rem 1.25rem">
                                    <p class="card-text text-center" id="ttpa" data-oid="{{ current_tpa[0] }}">{{ current_tpa[1] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="card height150 shadow">
                    <div class="card-header text-center primary">ПРЕСС-ФОРМА</div>
                    <div class="card-body nopadding">
                        <p class="card-text text-center fw-bold" id="tpf"></p>
                    </div>
                </div>
                <div class="card height150 shadow">
                    <div class="card-header text-center primary">ПРОДУКТ</div>
                    <p class="card-text text-center nopadding fw-bold" id="tprod"></p>
                    <div class="card-body nopadding">
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center primary">ПЛАН ПО ПРОД.</div>
                    <div class="card-body nopadding d-flex align-items-center justify-content-center">
                        <p class="card-text text-center nplan" id="nplan"></p>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">ВЫПУЩЕНО ПРОД.</div>
                    <div class="card-body nopadding d-flex align-items-center justify-content-center">
                        <p class="card-text text-center nvplan" id="nvplan"></p>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">БРАК</div>
                    <div class="card-body nopadding d-flex align-items-center justify-content-center">
                        <p class="card-text text-center nvDefect" id="nvDefect"></p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="main-window" style="position: relative;">
                    <div class="preloader">

                        <!-- Добавляем готовую структуру Preloader -->
                        <div class="sk-chase">
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                        </div>
                    </div>
                    {% block main_window %}                
                    {% endblock %}
                </div>

                {% block access_blocked %} {% endblock %}

                <div class="row">
                    <div class="col-6">
                        <span class="badge user-badge">Оператор</span>
                        <div class="card user-card height100 shadow primary" id="colorOperator">
                            <div class="card-body nopadding">
                                <p id="operator" class="card-text text-right user-fio"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="badge user-badge">Наладчик</span>
                        <div class="card user-card height100 shadow accent" id="colorAdjuster">
                            <div class="card-body nopadding">
                                <p id="adjuster"  class="card-text user-fio"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card height200 shadow">
                    <div class="card-header text-center primary">ПЛАНОВЫЙ ЦИКЛ</div>
                    <div class="card-body nopadding">
                        <p class="card-text text-center display-3" id="pointTC"></p>
                    </div>
                </div>
                <div class="card height200 shadow">
                    <div class="card-header text-center primary">ЦИКЛ ЗА СМЕНУ</div>
                    <div class="card-body nopadding">
                        <p class="card-text text-center display-3" id="pointVCS"></p>
                    </div>
                </div>
                <div class="card height200 shadow">
                    <div class="card-header text-center primary">ПЛАНОВЫЙ ВЕС</div>
                    <div class="card-body nopadding d-flex align-items-center justify-content-center">
                        <p class="card-text text-center display-3" id="planweight"></p>
                    </div>
                </div>
                <div class="card height200 shadow">
                    <div class="card-header text-center card-h-uppercase primary">СРЕДНИЙ ВЕС</div>
                    <div class="card-body nopadding d-flex align-items-center justify-content-center">
                        <p class="card-text text-center display-3" id="average_weigth">
                            0
                        </p>
                    </div>
                </div>
                <div class="card height100 shadow">
                    <div class="card-body nopadding primary">
                        <p class="card-text text-center" id="smena"></p>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-2">
                    <div class="card height-bottom shadow">
                        <div class="card-body primary">
                            <p class="card-text text-center" id="clock"></p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card height-bottom shadow width-bottom">
                        <div class="card-header text-center nopadding primary">ВЫПОЛНЕНИЕ ПЛАНА ЧЕРЕЗ:</div>
                        <div class="card-body nopadding">
                            <p class="card-text text-center display-5" id="time_to_end"></p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    {%if current_user.is_authenticated and current_user.device_type == 'Веб'%}
                        <a href="/menu">
                            <div class="card height-bottom shadow">
                                <div class="accent left-padding">УКАЖИТЕ ПРИЧИНУ ПРОСТОЯ</div>
                            </div>
                        </a>
                    {%else%}
                        <a>
                            <div class="card height-bottom shadow">
                                <div class="accent left-padding">УКАЖИТЕ ПРИЧИНУ ПРОСТОЯ</div>
                            </div>
                        </a>
                    {%endif%}
                </div>
                <div class="col-2">
                    <div class="card height-bottom shadow">
                        <div class="card-header text-center nopadding primary">БУМАГИ В ПРИНТЕРЕ ДЛЯ ПЕЧАТИ:</div>
                        <div class="card-body nopadding ">
                            <p class="card-text text-center display-4"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block navbar_footer %}
        
    {% endblock %}
</body>
<script src="{{url_for('static', filename='/js/main.js')}}"></script>
<script>
    let end_date = NaN
    devicetype = "Терминал"
    socket.on('connect', function () {
        socket.emit('connecting', { data: 'I\'m connected!' });
    });
    socket.emit('getTpaList', { ipaddress: address });
    socket.emit('GetDeviceType', '');
    socket.emit('GetExecutePlan','')
    socket.on('Auth',function(data) {
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0]) {
            window.location.href = '/Auth'
        }
    })

    // Дата и время 
    timecounter = 0
    function formatDate(date) {
        let dd = date.getDate();
        if (dd < 10) dd = '0' + dd;
        let mm = date.getMonth() + 1;
        if (mm < 10) mm = '0' + mm;
        let yy = date.getFullYear();
        return dd + '.' + mm + '.' + yy;
    }

    function getCurrentTimeString() {
        "{% if current_user.is_authenticated == True %}"
        if (timecounter <= 120 && devicetype != 'Веб'){
            timecounter += 1
        }
        else
        {
            if(devicetype == "Терминал")
            {
                window.location.href = '/logoutWithoutDeleteRoles'
            }
        }
        "{% else %}"
        "{% endif %}"
        return formatDate(new Date()) + " " + new Date().toTimeString().replace(/ .*/, '');
    }

    async function UpdateTimer() {
        let timeNode = document.getElementById('clock');
        let timer = 0
        setInterval(
            () => {
                UpdateTimeToEnd(end_date)
                timeNode.innerHTML = getCurrentTimeString()
                timer += 1
                if (timer == 120)
                {
                    socket.emit('GetExecutePlan','')
                    timer = 0
                }
            },
            1000
        );
    }
    UpdateTimer()

    socket.on('AnswerAfterConnection', function (data) {
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0]) {
            let roles = []
            for (let i = 0; i < Object.keys(arr[address]).length; i++) {
                roles.push(arr[address][i])
            }
            if (roles.length > 1) {
                window.location.href = '/menu';
            }
            if (roles[0] == "Оператор" && roles.length == 1) {
                window.location.href = '/operator';
            }
            if (roles[0] == "Наладчик" && roles.length == 1) {
                window.location.href = '/adjuster';
            };
        }
    });

    socket.on('DeviceType', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            devicetype = arr[address]
        }
    })

    socket.on('GetMainWindowData', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            let pressform = document.getElementById('tpf')
            let product = document.getElementById('tprod')
            let product_plan = document.getElementById('nplan')
            let product_fact = document.getElementById('nvplan')
            let cycle = document.getElementById('pointTC')
            let cycle_fact = document.getElementById('pointVCS')
            let plan_weight = document.getElementById('planweight')
            let average_weight = document.getElementById('average_weigth')
            let shift = document.getElementById('smena')
            let defective = document.getElementById('nvDefect')
            pressform.textContent = arr[address]['PF']
            product.textContent = arr[address]['Product']
            product_plan.textContent = arr[address]['Plan']
            product_fact.textContent = arr[address]['Fact']
            cycle.textContent = arr[address]['PlanCycle']
            cycle_fact.textContent = arr[address]['FactCycle']
            plan_weight.textContent = arr[address]['PlanWeight']
            average_weight.textContent = arr[address]['AverageWeight']
            shift.textContent = arr[address]['Shift']
            defective.textContent = arr[address]['Defective']
        }
    })

    socket.on('GetExecutePlan',function(data)
    {
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            //let time_to_end = document.getElementById('time_to_end')
            end_date = new Date(arr[address])  
        }
    })

    socket.on('TubsStatus', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            tabs_status = arr[address]
            nav_tabs = document.querySelectorAll(".nav_tpa")
            for(let tab of nav_tabs)
            {
                for(let status of tabs_status['Active'])
                {
                    if (tab.dataset.oid == status['Oid'])
                    {
                        console.log(status['Oid'])
                        tab.className = "nav-link nav_tpa nav_green"
                        if(tab.dataset.oid == tabs_status['CurrentTpa'])
                        {
                            tab.className = "nav-link nav_tpa nav_green active"
                        }
                        break
                    }
                    if(tab.dataset.oid != status['Oid'])
                    {
                        tab.className = "nav-link nav_tpa nav_red"
                        if(tab.dataset.oid == tabs_status['CurrentTpa'])
                        {
                            tab.className = "nav-link nav_tpa nav_red active"
                        }
                    }
                }
                // console.log(status)
            }
            // nav_tabs.forEach(tab => {
            //     for (let status of tabs_status['Active']) {
            //         console.log(status['Oid'])
            //         if (tab.dataset.oid == status['Oid'])
            //         {
            //             tab.className = "nav-link nav_tpa nav_green"
            //             if(tab.dataset.oid == tabs_status['CurrentTpa'])
            //             {
            //                 tab.className = "nav-link nav_tpa nav_green active"
            //             }
            //         }
            //         else
            //         {
            //             tab.className = "nav-link nav_tpa nav_red"
            //             if(tab.dataset.oid == tabs_status['CurrentTpa'])
            //             {
            //                 tab.className = "nav-link nav_tpa nav_red active"
            //             }
            //         }
            //     }
            // });
        }
    })

    function getTimeRemaining(endtime){
        const t = endtime - new Date()
        let obj = {
            // days: t / (1000 * 60 * 60 * 24) | 0
            hours: t / (1000 * 60 * 60) % 24 | 0,
            minutes: t / 1000 / 60 % 60 | 0,
            seconds: t / 1000 % 60 | 0
        }
        if (obj['hours'] < 0 || obj['minutes'] < 0 || obj['seconds'] < 0)
        {
            for (let key in obj)
                obj[key] = '00'
            return obj
        }
        for (let key in obj)
            obj[key] = ('0' + obj[key]).slice(-2)
        
        return obj
    }
    
    function UpdateTimeToEnd(dayEnd){
        if (dayEnd == NaN)
        {
            return
        }
        let result = getTimeRemaining(dayEnd)
        let formated = Object.values(result).join(':')
        time_to_end.textContent = formated
    }

    async function UpdateMainWindowData(){
        while(true)
        {
            socket.emit('NeedUpdateMainWindowData', { data: '' })
            socket.emit('GetUpTubsStatus',{data:''})
            await sleep(30000)
        }           
    }

    UpdateMainWindowData()

    window.addEventListener('load', () => { 
        const preloader = document.querySelector('.preloader')
        preloader.classList.add('preloader_hidden')
    })
    function LinkClick() {
        const preloader = document.querySelector('.preloader')
        preloader.classList.remove('preloader_hidden')
    }
function RequestOperatorAndAdjuster() {
    let url = "http://"+window.location.host + "/getOperatorAndAdjuster"
    let request = new XMLHttpRequest()
    request.open("GET",url)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.addEventListener("readystatechange", () => {
        if (request.readyState === 4 && request.status === 200) {
            OperatorAndAdjuster = JSON.parse(request.responseText);
            let operator = document.getElementById('operator');
            let adjuster = document.getElementById('adjuster');
            operator.textContent = OperatorAndAdjuster['Оператор']
            adjuster.textContent = OperatorAndAdjuster['Наладчик']
        }
    });
    request.send()
}

function scroll(){
    var jsScroll = document.getElementsByClassName('jsScroll');
    if(jsScroll){
        [].forEach.call(jsScroll, function(item) {
            var startX, startY;
            var listener = function(e) {
                startX = this.scrollLeft + e.pageX;
                startY = this.scrollTop + e.pageY;
                item.addEventListener('mousemove', endListener);
            };
        
            var endListener = function(e) {
                this.scrollLeft = startX - e.pageX;
                this.scrollTop = startY - e.pageY;
                return false;
            };
        
            item.addEventListener('mousedown', listener);
        
            window.addEventListener("mouseup", function(){ 
                item.removeEventListener('mousemove', endListener);
            });
        });
    }
}  

RequestOperatorAndAdjuster()
</script>
{% block script %}                
{% endblock %}
</html>