<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
    <title>TERMINAL IPLAST</title>
</head>

<body ondragstart="event.preventDefault()" ondrop="event.preventDefault()">
    <script src="{{url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='/js/socket.io.js')}}"></script>
    <script>
        let socket = io()
        let address = "{{request.remote_addr}}"
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
    <input type="hidden" id="current_user" value="{{ current_user }}">
    {% block navbar %} {% endblock %}
    <div class="notice notice-error" style="display: none;">
        Ошибка!
    </div>
    <div class="main-page container">
        <div class="row">
            <div class="col-2">
                {% for tpa in device_tpa %}
                    {% if tpa['Oid'] == current_tpa[0]%}
                        {% if tpa['WorkStatus'] == True %}
                            <div class="card height120 shadow green">
                                <div class="card-body" style="padding: 0.9rem 1.25rem">
                                    <p class="card-text text-center" id="ttpa" data-oid="{{ current_tpa[0] }}">{{ current_tpa[1] }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="card height120 shadow red">
                                <div class="card-body" style="padding: 0.9rem 1.25rem">
                                    <p class="card-text text-center" id="ttpa" data-oid="{{ current_tpa[0] }}">{{ current_tpa[1] }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="card height150 shadow">
                    <div class="card-header text-center primary" id="pfsign">ПРЕСС-ФОРМА</div>
                    <div class="card-body nopadding">
                        <p class="card-text text-center fw-bold" id="tpf"></p>
                    </div>
                </div>
                <div class="card height150 shadow">
                    <div class="card-header text-center primary">ПРОДУКТ</div>
                    <div class="swiper-container mySwiper1">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center nopadding fw-bold" id="tprod"></p>
                        {%for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center nopadding fw-bold" id="tprod"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more"  onClick="showMore(event)" style="top: 65px;"></div>
                        {% endif %}
                        <div class="custom-option custom-option_product opacity-0" id="showMoreRight">
                        {%for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <div class="custom-option__item shadow border">
                                <p class="card-text text-center nopadding fw-bold" id="tprod"></p>
                            </div>
                        {% endfor %}
                        <div class="close-more" onClick="closeMore(event)" style="top: 25px;"></div>
                        </div>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center primary">ПЛАН (шт.).</div>
                    <div class="swiper-container mySwiper2">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center nplan" id="nplan"></p>
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center nplan" id="nplan"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more"  onClick="showMore(event)" style="top: 50px"></div>
                        {% endif %}
                        <div class="custom-option custom-option_tiny opacity-0" id="showMoreRight">
                            {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                                <div class="custom-option__item shadow border">
                                    <p class="card-text text-center nplan" id="nplan"></p>
                                </div>
                            {% endfor %}
                            <div class="close-more" onClick="closeMore(event)" style="top: 12px"></div>
                        </div>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">ВЫПУЩЕНО (шт.).</div>
                    <div class="swiper-container mySwiper3 mt-2">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center nvplan" id="nvplan"></p>
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center nvplan" id="nvplan"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more"  onClick="showMore(event)" style="top: 50px;"></div>
                        {% endif %}
                        <div class="custom-option custom-option_tiny opacity-0" id="showMoreRight">
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <div class="custom-option__item shadow border">
                                <p class="card-text text-center nvplan" id="nvplan"></p>
                            </div>
                        {% endfor %}
                        <div class="close-more" onClick="closeMore(event)" style="top: 12px"></div>
                        </div>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">БРАК (шт.)</div>
                    <div class="swiper-container mySwiper4">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center nvDefect" id="nvDefect"></p>
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center nvDefect" id="nvDefect"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more"  onClick="showMore(event)" style="top: 50px"></div>
                        {% endif %}
                        <div class="custom-option custom-option_tiny opacity-0" id="showMoreRight">
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <div class="custom-option__item shadow border">
                                <p class="card-text text-center nvDefect" id="nvDefect"></p>
                            </div>
                        {% endfor %}
                        <div class="close-more" onClick="closeMore(event)" style="top: 12px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">

                <div class="main-window" style="position: relative;">
                    <div class="preloader" style="display: flex; flex-direction: column;">
                        <div class="sk-chase">
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                          <div class="sk-chase-dot"></div>
                        </div>
                        <div class="preloader_hidden progress mt-5" style="width: 50%;" id="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; z-index: 0;" id="progressbar">0%</div>
                        </div>
                    </div>
                        <div class="modal hidden" id="ReadDocModal">
                        <div class="modal-dialog" style="margin-left: 400px; margin-top: 400px;" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onClick="closeNotify('ReadDocModal')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body lead">
                                Необходимо ознакомиться с новой нормативной документацией.
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" onClick="closeNotify('ReadDocModal')">Закрыть</button>
                              <a type="button" class="btn btn-primary" href="/operator/NormDocumentation" onclick="LinkClick();closeNotify('ReadDocModal')">Перейти</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <script>
                        function DocsModalController(modal,text) {
                            showed = localStorage.getItem('Notify')
                            console.log(showed)
                            let currentModal = document.getElementById(modal)
                            currentModal.classList.toggle('hidden')
                        }
                        function closeNotify(modal)
                        {
                            let currentModal = document.getElementById(modal)
                            currentModal.classList.toggle('hidden')
                        }
                    </script>   
                    {% block main_window %}                
                    {% endblock %}
                </div>

                {% block access_blocked %} {% endblock %}

                <div class="row">
                    <div class="col-6">
                        <span class="badge user-badge">Оператор</span>
                        <div class="card user-card height100 shadow primary" id="colorOperator">
                            <div class="card-body nopadding">
                                <p id="operator" class="card-text text-right user-fio"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <span class="badge user-badge">Наладчик</span>
                        <div class="card user-card height100 shadow accent" id="colorAdjuster">
                            <div class="card-body nopadding">
                                <p id="adjuster"  class="card-text user-fio"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card height200 shadow">
                    <div class="card-header text-center primary">ЦИКЛ ПЛАН (с.)</div>
                    <div class="text-center">
                        <p class="card-text text-center display-3" id="pointTC"></p>
                    </div>
                </div>
                <div class="card height200 shadow">
                    <div class="card-header text-center primary">ЦИКЛ ЗА СМЕНУ (с.)</div>
                    <div class="text-center">
                        <p class="card-text text-center display-3" id="pointVCS"></p>
                    </div>  
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center primary">ПЛАНОВЫЙ ВЕС (кг.)</div>
                    <div class="swiper-container mySwiper5">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center display-4 fw-normal" id="planweight"></p>
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center display-4 fw-normal" id="planweight"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more show-more_left" id="showMoreLeft" onClick="showMore(event)" style="top: 52px;"></div>
                        {% endif %}
                        <div class="custom-option custom-option_left custom-option_tiny opacity-0" id="showMoreLeft">
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <div class="custom-option__item shadow border">
                                <p class="swiper-slide card-text text-center display-4 fw-normal" id="planweight"></p>
                            </div>
                        {% endfor %}
                        <div class="close-more close-more_left" onClick="closeMore(event)" style="top: 13px"></div>
                        </div>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">СРЕДНИЙ ВЕС (кг.)</div>
                    <div class="swiper-container mySwiper6">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center display-4 fw-normal" id="average_weigth"></p>
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <p class="swiper-slide card-text text-center display-4 fw-normal" id="average_weigth"></p>
                        {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more show-more_left" id="showMoreLeft" onClick="showMore(event)" style="top: 51px"></div>
                        {% endif %}
                        <div class="custom-option custom-option_left custom-option_tiny opacity-0" id="showMoreLeft">
                        {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                            <div class="custom-option__item custom-option__item shadow border">
                                <p class="swiper-slide card-text text-center display-4 fw-normal" id="average_weigth"></p>
                            </div>
                        {% endfor %}
                        <div class="close-more close-more_left" onClick="closeMore(event)" style="top: 13px"></div>
                        </div>
                    </div>
                </div>
                <div class="card height120 shadow">
                    <div class="card-header text-center card-h-uppercase primary">ОТХОДЫ (кг.)</div>
                    <div class="swiper-container mySwiper7">
                        <div class="swiper-wrapper">
                            <p class="swiper-slide card-text text-center nvDefect" id="wastes"></p>
                            {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                                <p class="swiper-slide card-text text-center nvDefect" id="wastes"></p>
                            {% endfor %}
                        </div>
                        {% if current_tpa[2].ProductCount > 1 %}
                            <div class="show-more show-more_left" id="showMoreLeft" onClick="showMore(event)" style="top: 52px;"></div>
                        {% endif %}
                        <div class="custom-option custom-option_left custom-option_tiny opacity-0" id="showMoreLeft">
                            {% for count in range(0,current_tpa[2].ProductCount - 1) %}
                                <div class="custom-option__item custom-option__item shadow border">
                                    <p class="swiper-slide card-text text-center nvDefect" id="wastes"></p>
                                </div>
                            {% endfor %}
                            <div class="close-more close-more_left" onClick="closeMore(event)" style="top: 13px"></div>
                        </div>
                    </div>
                </div>
                <div class="card height100 shadow">
                    <div class="card-body nopadding primary">
                        <p class="card-text text-center" id="smena"></p>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-2">
                    <div class="card height-bottom shadow">
                        <div class="card-body primary">
                            <p class="card-text text-center" id="clock"></p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card height-bottom shadow width-bottom">
                        <div class="card-header text-center nopadding primary">ВЫПОЛНЕНИЕ ПЛАНА ЧЕРЕЗ:</div>
                        <div class="card-body nopadding">
                            <p class="card-text text-center display-5" id="time_to_end"></p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <a href="/menu">
                        <div class="card height-bottom shadow" id="error_list">
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <div class="card height-bottom shadow">
                        <div class="card-header text-center nopadding primary">БУМАГИ В ПРИНТЕРЕ ДЛЯ ПЕЧАТИ:</div>
                        <div class="card-body nopadding ">
                            <p class="card-text text-center display-4"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block navbar_footer %}
        
    {% endblock %}
</body>
<script src="{{url_for('static', filename='/js/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='/js/main.js')}}"></script>

<script>
    
    const swiper1 = new Swiper(".mySwiper1", {});
    const swiper2 = new Swiper(".mySwiper2", {});
    const swiper3 = new Swiper(".mySwiper3", {});
    const swiper4 = new Swiper(".mySwiper4", {});
    const swiper5 = new Swiper(".mySwiper5", {});
    const swiper6 = new Swiper(".mySwiper6", {});
    const swiper7 = new Swiper(".mySwiper7", {});
    const preloader = document.querySelector('.preloader')

    const swipeAllSliders = (index) => {
        swiper1.slideTo(index);
        swiper2.slideTo(index);
        swiper3.slideTo(index);
        swiper4.slideTo(index);
        swiper5.slideTo(index);
        swiper6.slideTo(index);
        swiper7.slideTo(index);
    }

    swiper1.on('slideChange', () => swipeAllSliders(swiper1.activeIndex));
    swiper2.on('slideChange', () => swipeAllSliders(swiper2.activeIndex));
    swiper3.on('slideChange', () => swipeAllSliders(swiper3.activeIndex));
    swiper4.on('slideChange', () => swipeAllSliders(swiper4.activeIndex));
    swiper5.on('slideChange', () => swipeAllSliders(swiper5.activeIndex));
    swiper6.on('slideChange', () => swipeAllSliders(swiper6.activeIndex));
    swiper7.on('slideChange', () => swipeAllSliders(swiper7.activeIndex));
    
    let end_date = NaN
    let product_count = localStorage.getItem('product_count')
    let pf_error = false
    devicetype = "Терминал"
    socket.on('connect', function () {
        socket.emit('connecting', { data: 'I\'m connected!' });
    });
    socket.emit('getTpaList', { ipaddress: address });
    socket.emit('GetDeviceType', '');
    socket.emit('GetExecutePlan','')
    socket.on('Auth',function(data) {
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0]) {
            window.location.href = `/Auth/GetPass/PassNumber=${arr[address]}`
        }
    })

    // Дата и время 
    timecounter = 0
    function formatDate(date) {
        let dd = date.getDate();
        if (dd < 10) dd = '0' + dd;
        let mm = date.getMonth() + 1;
        if (mm < 10) mm = '0' + mm;
        let yy = date.getFullYear();
        return dd + '.' + mm + '.' + yy;
    }

    function getCurrentTimeString() {
        "{% if current_user.is_authenticated == True %}"
        if (timecounter <= 120 && devicetype != 'Веб'){
            timecounter += 1
        }
        else
        {
            if(devicetype == "Терминал")
            {
                window.location.href = '/logoutWithoutDeleteRoles'
            }
        }
        "{% else %}"
        "{% endif %}"
        return formatDate(new Date()) + " " + new Date().toTimeString().replace(/ .*/, '');
    }

    async function UpdateTimer() {
        let timeNode = document.getElementById('clock');
        let timer = 0
        setInterval(
            () => {
                UpdateTimeToEnd(end_date)
                timeNode.innerHTML = getCurrentTimeString()
                timer += 1
                if (timer == 120)
                {
                    socket.emit('GetExecutePlan','')
                    timer = 0
                }
            },
            1000
        );
    }
    UpdateTimer()

    socket.on('AnswerAfterConnection', function (data) {
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0]) {
            let roles = []
            for (let i = 0; i < Object.keys(arr[address]).length; i++) {
                roles.push(arr[address][i])
            }
            if (roles.length > 1) {
                window.location.href = '/menu';
            }
            if (roles[0] == "Оператор" && roles.length == 1) {
                window.location.href = '/operator';
            }
            if (roles[0] == "Наладчик" && roles.length == 1) {
                window.location.href = '/adjuster';
            };
        }
    });

    socket.on('ShowNotify', function (data) {
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0]) {   
            DocsModalController('ReadDocModal')
        }        
    })

    socket.emit('GetNotify', { data: '' })

    socket.on('DeviceType', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            devicetype = arr[address]
        }
    })


    let pressform = document.getElementById('tpf')
    let product = document.querySelectorAll('#tprod')
    let product_plan = document.querySelectorAll('#nplan')
    let product_fact = document.querySelectorAll('#nvplan')
    let cycle = document.getElementById('pointTC')
    let cycle_fact = document.getElementById('pointVCS')
    let plan_weight = document.querySelectorAll('#planweight')
    let average_weight = document.querySelectorAll('#average_weigth')
    let shift = document.getElementById('smena')
    let wastes = document.querySelectorAll('#wastes')
    let defectives = document.querySelectorAll('#nvDefect')
    let error_list = document.querySelectorAll('#error')
    let got_errors = []
    let data_from_lstorage = {}

    function GetDataFromCache()
    {
        if (product_count > 1)
        {
            data_from_lstorage = {
                "PF": localStorage.getItem('pressform'),
                "Product": JSON.parse(localStorage.getItem('product'))['product'],
                "Plan":  JSON.parse(localStorage.getItem('product_plan'))['product_plan'],
                "Fact": JSON.parse(localStorage.getItem('product_fact'))['product_fact'],
                "PlanCycle": localStorage.getItem('plan_cycle'),
                "FactCycle": localStorage.getItem('fact_cycle'),
                "PlanWeight": JSON.parse(localStorage.getItem('plan_weight'))['plan_weight'],
                "AverageWeight": JSON.parse(localStorage.getItem('average_weight'))['average_weight'],
                "Shift": localStorage.getItem('shift'),
                "Wastes": JSON.parse(localStorage.getItem('wastes'))['wastes'],
                "Defectives": JSON.parse(localStorage.getItem('Defectives'))['Defectives'],
                "Errors": JSON.parse(localStorage.getItem('got_errors'))
            }
        }
        else
        {
            data_from_lstorage = {
                "PF": localStorage.getItem('pressform'),
                "Product": localStorage.getItem('product'),
                "Plan": localStorage.getItem('product_plan'),
                "Fact": localStorage.getItem('product_fact'),
                "PlanCycle": localStorage.getItem('plan_cycle'),
                "FactCycle": localStorage.getItem('fact_cycle'),
                "PlanWeight": localStorage.getItem('plan_weight'),
                "AverageWeight": localStorage.getItem('average_weight'),
                "Shift": localStorage.getItem('shift'),
                "Wastes": localStorage.getItem('wastes'),
                "Defectives": localStorage.getItem('Defectives'),
                "Errors": JSON.parse(localStorage.getItem('got_errors'))
            }
        }
    }

    function InsertMainData()
    {
        try
        {
            $('#error').remove()   
            pressform.textContent = data_from_lstorage['PF']
            if (data_from_lstorage["Errors"] != null)
                {
                    $('#error').remove()
                    for (let err_i = 0; err_i < data_from_lstorage["Errors"].length; err_i++)
                        {
                            if (data_from_lstorage["Errors"][err_i]['Message'] == "ПРЕССФОРМА НЕ СООТВЕТСВУЕТ ПРОДУКТУ.")
                            {
                                pf_error = true
                            }
                            else
                            {
                                trigger_flag = false 
                                pf_error = false
                                let elem = document.getElementById('pfsign')
                                if(elem.classList.contains('accent'))
                                {
                                    elem.classList.add("primary");
                                    elem.classList.remove("accent");
                                }
                            }
                            $('#error_list').append(`<div class="accent left-padding" id="error">[${data_from_lstorage["Errors"][err_i]['Date']}] ${data_from_lstorage["Errors"][err_i]['Message']} </div>`)
                        }
                }
                else
                {
                    $('#error').remove()
                    trigger_flag = false 
                    pf_error = false
                }
                if (typeof(data_from_lstorage['Product']) === 'string' || 
                    (data_from_lstorage['Product'] == 'Нет сменного задания')){
                    if (data_from_lstorage['Product'] == 'Нет сменного задания')
                    {
                        product.textContent = 'Нет сменного задания'
                        cycle.textContent = ''
                        cycle_fact.textContent = ''
                        product_fact.textContent = ''
                    }
                    else{
                        product[0].textContent = data_from_lstorage['Product']
                    }
                    product_plan[0].textContent = data_from_lstorage['Plan']
                    if (data_from_lstorage['Fact'] != 0)
                    {
                        product_fact[0].textContent = data_from_lstorage['Fact']
                    }
                    plan_weight[0].textContent = data_from_lstorage['PlanWeight']
                    average_weight[0].textContent = data_from_lstorage['AverageWeight']
                    wastes[0].textContent = data_from_lstorage['Wastes']
                    defectives[0].textContent = data_from_lstorage['Defectives']
                }
                else
                {
                    let count = 0
                    for (let item = 0; item < data_from_lstorage['Product'].length; item++ )
                    {
                        product[item].textContent = data_from_lstorage['Product'][item]
                        product_plan[item].textContent = data_from_lstorage['Plan'][item]
                        product_fact[item].textContent = data_from_lstorage['Fact'][item]
                        plan_weight[item].textContent = data_from_lstorage['PlanWeight'][item]
                        average_weight[item].textContent = data_from_lstorage['AverageWeight'][item]
                        wastes[item].textContent = data_from_lstorage['Wastes'][item]
                        defectives[item].textContent = data_from_lstorage['Defectives'][item]
                        count += 1
                    }
                    product[count].textContent = data_from_lstorage['Product'][count - 1]
                    product_plan[count].textContent = data_from_lstorage['Plan'][count - 1]
                    product_fact[count].textContent = data_from_lstorage['Fact'][count - 1]
                    plan_weight[count].textContent = data_from_lstorage['PlanWeight'][count - 1]
                    average_weight[count].textContent = data_from_lstorage['AverageWeight'][count - 1]
                    wastes[count].textContent = data_from_lstorage['Wastes'][count - 1]
                    defectives[count].textContent = data_from_lstorage['Defectives'][count - 1]
                    
                }
                cycle.textContent = data_from_lstorage['PlanCycle']
                cycle_fact.textContent = data_from_lstorage['FactCycle']
                shift.textContent = data_from_lstorage['Shift']
        }
        catch
        {
            //Nothing
        }
    }

    socket.on('GetMainWindowData', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr)[0])
        {   
            localStorage.setItem('pressform', arr[address]['PF'])
            if (arr[address]['Product'] == 'Нет сменного задания')
            {
                product_count = 0
                localStorage.setItem('product_count', 0)
            }
            else
            {
                localStorage.setItem('product_count', arr[address]['Product'].length)
                product_count = arr[address]['Product'].length
            }
            if ((typeof(arr[address]['Product']) != 'string') && (arr[address]['Product'].length > 1))
            {
                localStorage.setItem('product', JSON.stringify({'product':[arr[address]['Product'][0], arr[address]['Product'][1]]}))
                localStorage.setItem('product_plan', JSON.stringify({'product_plan':[arr[address]['Plan'][0], arr[address]['Plan'][1]]}))
                localStorage.setItem('product_fact', JSON.stringify({'product_fact':[arr[address]['Fact'][0], arr[address]['Fact'][1]]}))
                localStorage.setItem('Defectives', JSON.stringify({'Defectives':[arr[address]['Defectives'][0], arr[address]['Defectives'][1]]}))
                localStorage.setItem('plan_weight', JSON.stringify({'plan_weight':[arr[address]['PlanWeight'][0], arr[address]['PlanWeight'][1]]}))
                localStorage.setItem('average_weight', JSON.stringify({'average_weight':[arr[address]['AverageWeight'][0], arr[address]['AverageWeight'][1]]}))
                localStorage.setItem('wastes', JSON.stringify({'wastes':[arr[address]['Wastes'][0], arr[address]['Wastes'][1]]}))
            }
            else   
            {
                localStorage.setItem('product', arr[address]['Product'])
                localStorage.setItem('product_plan', arr[address]['Plan'])
                localStorage.setItem('product_fact', arr[address]['Fact'])
                localStorage.setItem('Defectives', arr[address]['Defectives'])
                localStorage.setItem('plan_weight', arr[address]['PlanWeight'])
                localStorage.setItem('average_weight', arr[address]['AverageWeight'])
                localStorage.setItem('wastes', arr[address]['Wastes'])
            }

            localStorage.setItem('plan_cycle', arr[address]['PlanCycle'])
            localStorage.setItem('fact_cycle', arr[address]['FactCycle'])
            localStorage.setItem('shift', arr[address]['Shift'])
            localStorage.setItem('got_errors', JSON.stringify(arr[address]['Errors']))
        }
        if (arr['Reason'] == 'AfterSwitchPF')
        {
            preloader.classList.add('preloader_hidden')
        }
        GetDataFromCache()
        InsertMainData()
    })

    socket.on('GetExecutePlan',function(data)
    {
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            //let time_to_end = document.getElementById('time_to_end')
            end_date = new Date(arr[address])  
        }
    })

    socket.on('ChangePF',function(data)
    {
        arr = JSON.parse(data)
        socket.emit('NeedUpdateMainWindowData', { data: 'AfterSwitchPF' })
    })

    socket.on('TubsStatus', function(data){
        arr = JSON.parse(data)
        if (address == Object.keys(arr))
        {
            tabs_status = arr[address]
            nav_tabs = document.querySelectorAll(".nav_tpa")
            for(let tab of nav_tabs)
            {
                for(let status of tabs_status['Active'])
                {
                    if (tab.dataset.oid == status)
                    {
                        tab.className = "nav-link nav_tpa nav_green"
                        if(tab.dataset.oid == tabs_status['CurrentTpa'])
                        {
                            tab.className = "nav-link nav_tpa nav_green active"
                        }
                        break
                    }
                    if(tab.dataset.oid != status)
                    {
                        tab.className = "nav-link nav_tpa nav_red"
                        if(tab.dataset.oid == tabs_status['CurrentTpa'])
                        {
                            tab.className = "nav-link nav_tpa nav_red active"
                        }
                    }
                }
            }
        }
    })

    function getTimeRemaining(endtime){
        const t = endtime - new Date()
        let obj = {
            // days: t / (1000 * 60 * 60 * 24) | 0
            hours: t / (1000 * 60 * 60) % 24 | 0,
            minutes: t / 1000 / 60 % 60 | 0,
            seconds: t / 1000 % 60 | 0
        }
        if (obj['hours'] < 0 || obj['minutes'] < 0 || obj['seconds'] < 0)
        {
            for (let key in obj)
                obj[key] = '00'
            return obj
        }
        for (let key in obj)
            obj[key] = ('0' + obj[key]).slice(-2)
        
        return obj
    }
    
    function UpdateTimeToEnd(dayEnd){
        if (dayEnd == NaN)
        {
            return
        }
        let result = getTimeRemaining(dayEnd)
        let formated = Object.values(result).join(':')
        time_to_end.textContent = formated
    }

    async function UpdateMainWindowData(){
        while(true)
        {
            socket.emit('NeedUpdateMainWindowData', { data: '' })
            socket.emit('GetUpTubsStatus',{data:''})
            await sleep(30000)
        }           
    }
    UpdateMainWindowData()
    GetDataFromCache()
    InsertMainData()

    window.addEventListener('load', () => { 
        const preloader = document.querySelector('.preloader')
        preloader.classList.add('preloader_hidden')
    })
    function LinkClick() {
        preloader.classList.remove('preloader_hidden')
    }
function RequestOperatorAndAdjuster() {
    let url = "http://"+window.location.host + "/getOperatorAndAdjuster"
    let request = new XMLHttpRequest()
    request.open("GET",url)
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.addEventListener("readystatechange", () => {
        if (request.readyState === 4 && request.status === 200) {
            OperatorAndAdjuster = JSON.parse(request.responseText);
            let operator = document.getElementById('operator');
            let adjuster = document.getElementById('adjuster');
            operator.textContent = OperatorAndAdjuster['Оператор']
            adjuster.textContent = OperatorAndAdjuster['Наладчик']
        }
    });
    request.send()
}

function scroll(){
    var jsScroll = document.getElementsByClassName('jsScroll');
    if(jsScroll){
        [].forEach.call(jsScroll, function(item) {
            var startX, startY;
            var listener = function(e) {
                startX = this.scrollLeft + e.pageX;
                startY = this.scrollTop + e.pageY;
                item.addEventListener('mousemove', endListener);
            };
        
            var endListener = function(e) {
                this.scrollLeft = startX - e.pageX;
                this.scrollTop = startY - e.pageY;
                return false;
            };
        
            item.addEventListener('mousedown', listener);
        
            window.addEventListener("mouseup", function(){ 
                item.removeEventListener('mousemove', endListener);
            });
        });
    }
}  

RequestOperatorAndAdjuster()

let UpdShiftTaskPressed = false

function UpdateShiftTask()
{
    if (UpdShiftTaskPressed != true)
    {
        closeModal('shiftUpdateModal')
        UpdShiftTaskPressed = true
        socket.emit('UpdateShiftTask', { data: '' })
        let progress_div = document.getElementById('progress')
        let progress_bar = document.getElementById('progressbar')
        let preloader = document.querySelector('.preloader')
        progress_bar.style.width = 0
        progress_bar.textContent = ""
        progress_div.classList.remove('preloader_hidden')
        progress_bar.classList.remove('preloader_hidden')   
        LinkClick()
        socket.on('GetProgressStatus',async function(data)
        {
            arr = JSON.parse(data)
            if (address == Object.keys(arr))
            {   
                if (arr[address] == "Complete")
                {
                    await sleep(2000)
                    socket.emit('NeedUpdateMainWindowData', { data: '' })
                    progress_div.classList.add('preloader_hidden')
                    preloader.classList.add('preloader_hidden')  
                    preloader.classList.add('preloader_hidden')
                    UpdShiftTaskPressed = false
                }
                if (progress_bar.style.width != "100%")
                {
                    progress_bar.textContent = arr[address]
                    progress_bar.style.width = arr[address]+"%"
                }
            }
        })
    }
}

async function UpdateError()
{
    let trigger_flag = false
    setInterval(
        () => {
            if (pf_error == true)
            {
                let elem = document.getElementById('pfsign')
                if (trigger_flag == false)
                {
                    elem.classList.add("accent");
                    elem.classList.remove("primary");
                    trigger_flag = true  
                }
                else
                {
                    elem.classList.add("primary");
                    elem.classList.remove("accent");
                    trigger_flag = false 
                }
            }
        },
        1000
    );
}
UpdateError()
</script>
{% block script %}                
{% endblock %}
</html>