{% extends 'index_template.html' %}
{% block navbar %}
    {% include 'navbar/navbar.html' %}    
{% endblock %}

{% block main_window %}
    <div class="row">
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" href="/operator">Оператор</a>
            <div class="btn btn__menu btn__menu_wide primary">Технолог</div>
            <div class="btn btn__menu btn__menu_wide primary">Журнал распоряжений</div>
            <div class="btn btn__menu btn__menu_wide primary">Заполнить бумагу для принтера</div>
        </div>
        <div class="col">
            <a class="btn btn__menu btn__menu_wide primary" href="/adjuster">Наладчик</a>
            <a class="btn btn__menu btn__menu_wide primary" href="/bindPressForms">Привязать пресс-форму</a>
            <div class="btn btn__menu btn__menu_wide primary">Очистить тестовый чек-лист</div>
            <a class="btn btn__menu btn__menu_wide primary" onClick="infoModalController('shiftUpdateModal')">Обновить сменное задание</a>
        </div>
    </div>
    <div class="modal hidden" id="shiftUpdateModal">
      <div class="modal-dialog" style="margin-left: 400px; margin-top: 400px;" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Уведомление</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onClick="closeModal('shiftUpdateModal')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body lead">
            Данное действие удалит введенный вес, брак и отходы.
            Получит новое сменное задание из 1С и обновит данные.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onClick="closeModal('shiftUpdateModal')">Закрыть</button>
            <button type="button" class="btn btn-primary" onclick=UpdateShiftTask()>ОК</button>
          </div>
        </div>
      </div>
  </div>
  <script>
      function infoModalController(modal) {
          let currentModal = document.getElementById(modal)
          currentModal.classList.toggle('hidden')
      }
      function closeModal(modal)
      {
          let currentModal = document.getElementById(modal)
          currentModal.classList.toggle('hidden')
      }
  </script>  
{% endblock %}