.journal-block {
    height: 688px;
    background-color: white;
}

.btn__view {
    font-size: 28pt;
    line-height: 1.2;
    box-shadow: 2px 1px 4px 0px rgb(34 60 80 / 70%)
}

.btn__view_subtitle {
    font-size: 18pt;
}

.btn__table {
    font-size: 16pt;
    border-radius: 0;
    line-height: 40px;
    background-color: #254063 !important;
    box-shadow: 2px 1px 4px 0px rgb(34 60 80 / 70%)!important; 
}

.btn__table_checklist {
    background-color: #198754 !important;
}

td a {
    width: 100%;
    height: 48px;
    color: white !important;
}

td a:hover {
    color: #212529 !important;
}

.btn__table_checklist:hover {
    background-color: #12613c !important;
    color: white
}

.btn__table_reason:hover {
    background-color: #dae0e5 !important;
}

.offcanvas-body{
    padding: 0;
}

.btn__left-menu {
    height: 75px;
    border-radius: 0;
    border-bottom: .5px black solid;
}

.btn__left-menu:hover {
    background-color: #90c6d1;
}

.height-65 {
    height: 65px;
}