.modal-window_list {
    border-color: black;
    position: absolute;
    z-index: 4;
    top: 70px;
    left: 265px;
    border-width: 10px;
    background-color: white;
    width: 740px;
    height: 800px;
}

.modal-window__search{
    display: flex;
    height: 50px;
}

.modal-window__search_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.modal-window__search_input {
    width: 80%;
    font-size: 24pt;
    border: none;
    border-bottom: 1px solid #ced4da
}

.modal-window__body {
    height: 490px;
    font-size: 18pt;
    flex-grow: 1;
}

.modal-window__footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal-window__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 22pt;
}

.modal-window_number {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 100px;
    left: 390px;
    width: 500px;
    height: 650px;
    border-width: 10px;
    border-color: black;
    background-color: white;
}

.modal-window__input {
    width: 70%;
    height: 80px;
}

.modal-window__enter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80px;
    font-size: 22pt;
}

.number-input {
    margin: 0 4px 0 4px;
    font-size: 42pt;
}

.custom-select {
    padding: .375rem 1.75rem .375rem .75rem;
    width: 100%;
    color: #495057;
    border: none;
}

.custom-select_waste {
    width: 55%;
    height: 3.3rem;
    font-size: 16pt;
    border: 1px solid #d1d7dc;
}

.custom-select::-webkit-scrollbar {
    width: 80px;
    background-color: #f9f9fd;
}
.custom-select::-webkit-scrollbar-thumb {
    height: 100px;
    background-color: #2b507c;
}

.custom-select_waste::-webkit-scrollbar {
    width: 50px;
}

/* Стили клавиатур */

.word-keyboard {
    position: absolute;
    z-index: 150;
    padding: 20px;
    top: 600px;
    left: 125px;
    width: 1085px;
    height: 270px;
    background-color: white;
    border: 2px solid #ced4da;
    border-radius: 10px;
}

.keyboard__keys {
    text-align: center;
}

.material-icons {
    display: contents;
}

.keyboard__key {
    margin: 3px;
    width: 70px;
    height: 70px;
    font-size: 24pt;
    border: none;
}

.keyboard__key--wide {
    width: 120px;
    background-color: #90c6d1;
}

.keyboard__key--extra-wide {
    width: 240px;
    background-color: #90c6d1;
}

.keyboard__key--dark {
    width: 95px;
}

.keyboard__key:active {
    border-radius: 10px;
    background-color: #e0a800;
}

.keyboard__key--wide:active {
    border-radius: 5px;
    background-color: #e0a800;
}

.word-keyboard--hidden {
    display: none;
}

.number-keyboard {
    margin-top: 45px;
    z-index: 150;
}

.number-keyboard .keyboard__key {
    width: 140px;
    height: 100px;
}

.number-keyboard .keyboard__key--wide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.number-keyboard--hidden {
    display: none;
}

.outline-red {
    box-shadow: 0px 0px 0px 5px rgba(255, 0, 0, 0.7);
    transition: all 0.1s ease;
}
