@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
body {
  width: 1280px;
  height: 1024px;
  padding: 5px;
  background-color: #ecf0f5;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

button {
  border: none; }

.swiper-container {
  overflow: hidden; }

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; }

.table__button {
  position: relative; }

.offcanvas-container {
  display: none; }

.offcanvas-body {
  padding: 0; }

.offcanvas-blur {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3; }

.big-checkbox {
  width: 30px;
  height: 30px; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.font-3 {
  font-size: 14pt !important; }

.nav-link, .nav-tabs {
  border: none;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; }

.nav_tpa {
  padding: .5rem 1rem !important;
  font-weight: 600;
  color: black;
  opacity: 0.5;
  height: 50px; }

.nav_green {
  background: #BEF7C7; }

.nav_red {
  background-color: #fcd5d0; }

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid black; }
  .navbar-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 12px; }

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18pt;
  color: #212529;
  border: none; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #dae0e5; }
  .btn_wide {
    width: 100%; }
  .btn__menu {
    height: 170px;
    margin: 5px 0px; }
    .btn__menu_wide {
      width: 100%; }
    .btn__menu_narrow {
      width: 49.4%; }
    .btn__menu_height160 {
      height: 160px; }
  .btn__navbar-footer {
    margin-left: 5px;
    width: 100%;
    font-size: 28pt;
    box-shadow: 2px 1px 4px 0px #223c50; }
    .btn__navbar-footer_tpa {
      padding-left: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      box-shadow: 2px 1px 4px 0px #223c50;
      font-size: 24pt; }
    .btn__navbar-footer_exit {
      display: flex;
      flex-direction: row;
      font-size: 18pt; }
      .btn__navbar-footer_exit span {
        font-size: 28pt; }
  .btn__table {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background-color: #254063 !important;
    color: #fff; }
    .btn__table button {
      color: #fff; }
    .btn__table:hover {
      background-color: #dae0e5 !important;
      color: black; }
    .btn__table_checklist {
      background-color: #198754 !important; }
      .btn__table_checklist:hover {
        background-color: #12613c !important;
        color: white; }
    .btn__table_reason:hover {
      background-color: #dae0e5 !important; }
  .btn__left-menu {
    height: 75px;
    background-color: #e6e6e6;
    border-radius: 0;
    border-bottom: .5px black solid; }
    .btn__left-menu:hover {
      background-color: #90c6d1; }
    .btn__left-menu_active {
      background-color: #BEF7C7; }
  .btn__add-waste {
    margin-right: 1rem;
    width: 10%;
    height: 3.3rem; }
  .btn__delete-waste {
    width: 10%;
    height: 3.3rem;
    background-color: #dc3545 !important; }
  .btn__view {
    font-size: 28pt;
    width: 100%;
    height: 120px;
    line-height: 1.2;
    box-shadow: 2px 1px 4px 0px #7e7e7e; }
    .btn__view_subtitle {
      font-size: 18pt; }
    .btn__view_journal {
      height: 160px; }
  .btn__modal {
    font-size: 28pt;
    width: 100%;
    height: 120px;
    line-height: 1.2;
    box-shadow: 2px 1px 4px 0px #223c50;
    border-radius: 0; }

.btn-row {
  display: flex;
  justify-content: space-between; }

.btn-light {
  border: 2px dashed black !important; }

.show-more {
  position: absolute;
  left: 185px;
  width: 25px;
  height: 50px;
  background: url("show-more_right.png") no-repeat;
  z-index: 10; }
  .show-more_left {
    left: -25px;
    background: url("show-more_left.png") no-repeat; }

.close-more {
  position: absolute;
  left: 185px;
  width: 25px;
  height: 50px;
  background: url("close-more_right.png") no-repeat;
  z-index: 10; }
  .close-more_left {
    left: -20px;
    background: url("close-more_left.png") no-repeat; }

/* Стили клавиатур */
.keyboard {
  position: absolute;
  z-index: 150;
  padding: 20px;
  top: 600px;
  left: 125px;
  width: 1085px;
  height: 270px;
  background-color: white;
  border: 2px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem black !important; }

.keyboard--hidden {
  display: none; }

.word-keyboard {
  position: absolute;
  z-index: 150;
  padding: 20px;
  top: 600px;
  left: 125px;
  width: 1085px;
  height: 270px;
  background-color: white;
  border: 2px solid #ced4da;
  border-radius: 10px; }

.keyboard__keys {
  text-align: center; }

.keyboard__key {
  margin: 3px;
  width: 70px;
  height: 70px;
  font-size: 24pt;
  border: none; }

.keyboard__key--wide {
  width: 120px;
  background-color: #90c6d1; }

.keyboard__key--extra-wide {
  width: 240px;
  background-color: #90c6d1; }

.keyboard__key--dark {
  width: 95px; }

.keyboard__key:active {
  border-radius: 10px;
  background-color: #e0a800; }

.keyboard__key--wide:active {
  border-radius: 5px;
  background-color: #e0a800; }

.word-keyboard--hidden {
  display: none; }

.number-keyboard {
  margin: 45px 0;
  z-index: 150; }

.number-keyboard .keyboard__key {
  width: 140px;
  height: 100px; }

.number-keyboard .keyboard__key--wide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%; }

.number-keyboard--hidden {
  display: none; }

.outline-red {
  box-shadow: 0px 0px 0px 5px rgba(255, 0, 0, 0.7);
  transition: all 0.1s ease; }

.modal {
  display: block;
  box-sizing: border-box;
  border-radius: 0; }
  .modal__list {
    position: absolute;
    z-index: 4;
    top: 70px;
    left: 265px;
    border-width: 10px;
    background-color: white;
    width: 740px;
    height: 800px; }
  .modal__number {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 390px;
    width: 500px;
    height: 650px;
    border-width: 10px;
    border-color: black;
    background-color: white; }
  .modal__input-number {
    margin-left: 20px;
    width: 65%;
    height: 80px;
    border-bottom: 1px solid #ced4da;
    border-radius: 0; }
  .modal__enter-button {
    margin-left: 5px;
    width: 28%; }
  .modal_header {
    height: 52px;
    text-align: center;
    background-color: #90c6d1;
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px;
    border-radius: 0; }
  .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .modal_body {
    height: 680px;
    overflow: hidden; }
  .modal_footer {
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.6); }

.main-window {
  margin-top: 7px;
  margin-bottom: 15px; }

#ttpa {
  font-size: 17pt;
  font-weight: 500; }

.nplan {
  color: #2b507c;
  font-size: 55px;
  font-weight: 400;
  margin: -8px 0px; }

.nvplan {
  color: #4ca54e;
  font-size: 45pt;
  font-weight: 400;
  margin: -13px 0px; }

.nvDefect {
  color: #a5634c;
  font-size: 45pt;
  font-weight: 400;
  margin: -12px 0px; }

.graph {
  margin-bottom: 59px;
  width: 820px;
  height: 600px;
  background-color: white; }

.error {
  margin-bottom: 59px;
  width: 820px;
  height: 600px; }

#smena {
  color: #444;
  position: absolute;
  text-align: center;
  font-size: 22pt;
  margin: -2px 0px; }

#clock {
  color: #444;
  text-align: center;
  font-size: 22pt; }

.user-badge {
  position: absolute;
  z-index: 1;
  margin-left: -5px;
  width: 100px;
  font-size: 12pt;
  background-color: #17a2b8; }

.user-card {
  margin-top: 10px !important; }

.user-fio {
  margin-top: 10px;
  color: #444;
  text-align: center;
  font-size: 16pt; }

.footer {
  margin: 0;
  padding: 0; }

#pointTC, #pointVCS {
  margin: 12px 0px;
  color: #5a445e; }

.inv-input {
  border: 2px solid red; }

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 1; }

.view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff; }
  .view-header {
    height: 52px;
    text-align: center;
    background-color: #90c6d1;
    text-transform: uppercase;
    padding: 12px;
    font-size: 16px; }
    .view-header_button {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 14px;
      box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #070000;
      background-color: #254063;
      color: white;
      text-align: center;
      height: 50px;
      width: 180px;
      padding: 4px; }
  .view-body {
    height: 530px;
    overflow: hidden; }
    .view-body_journal {
      height: 700px; }

.idle-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 965px;
  background-color: #fff; }

.form-control_idle {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 16pt; }

.input-group_double {
  width: 50%; }

.input-group-text_idle {
  justify-content: center;
  width: 30%;
  height: 3.5rem;
  font-size: 14pt; }
  .input-group-text_idle-min {
    justify-content: center;
    width: 35%;
    height: 3.5rem;
    font-size: 14pt; }

.input-group-text_green {
  background-color: #086649;
  color: #fff; }

.input-group-text_blue {
  background-color: #254063;
  color: #fff; }

.input-group-text_waste {
  width: 100%; }

.weight-input {
  width: 19%; }

.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3; }

select.clip {
  white-space: nowrap;
  overflow: hidden; }

.custom-select {
  padding: 15px;
  width: 100%;
  font-size: 20pt;
  border: 1px solid #ced4da;
  border-radius: 0; }

.custom-input {
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.search-input {
  width: 76%;
  border: none;
  font-size: 24pt; }

.search-label {
  display: inline-block;
  width: 20%;
  height: 52px;
  text-align: center;
  color: white;
  background-color: #254063;
  text-transform: uppercase;
  padding: 12px;
  margin: 0px 0px 0px 12px; }

.name-label {
  display: block;
  height: 52px;
  text-align: center;
  background-color: #254063;
  color: #fff;
  text-transform: uppercase;
  padding: 12px; }
  .name-label_lg {
    width: 100%; }

table .green {
  background-color: #BEF7C7; }

table .primary {
  background-color: #90c6d1; }

table .red {
  background: #f77; }

.my-scrollbar::-webkit-scrollbar {
  width: 80px;
  height: 60px; }

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #254063; }

.my-scrollbar::-webkit-scrollbar-track {
  border-width: 0; }

.my-scrollbar::-webkit-scrollbar-track:hover {
  background-color: #eee; }

.acces-blocked {
  height: 50px; }

.material-icons {
  display: contents; }

.nopadding {
  padding: 0 !important; }

.left-padding {
  padding-left: 1rem; }

.flex-end {
  align-items: flex-end; }

.active {
  opacity: 1 !important; }

.primary {
  background-color: #90c6d1; }

.secondary {
  background-color: #254063;
  color: #ffffff; }
  .secondary:hover {
    color: black !important; }

.accent {
  color: black;
  background-color: #f77; }

.green {
  background-color: #BEF7C7; }

.green-2 {
  background-color: #086649;
  color: #fff; }

.red {
  background: #f77; }

.grey {
  background-color: #a5a5a5; }

.height65 {
  height: 65px; }

.height100 {
  height: 45px;
  margin: 5px 0px; }

.height120 {
  height: 115px;
  margin: 5px 0; }

.height150 {
  height: 145px;
  margin: 5px 0; }

.height200 {
  height: 177px;
  margin: 5px 0px; }

.custom-option {
  position: absolute;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  top: 41px;
  left: 184px;
  transform: translateX(-380px);
  transition: 1s; }
  .custom-option_left {
    transform: translateX(0px); }
  .custom-option__item {
    position: relative;
    margin-left: 3px;
    width: 185px;
    text-align: center;
    background-color: #fff;
    border-radius: 7px; }
  .custom-option_product {
    height: 103px; }
  .custom-option_prodPlan {
    height: 73px; }
  .custom-option_prodFact {
    height: 73px; }
  .custom-option_planWeight {
    height: 135px; }
  .custom-option_averageWeight {
    height: 135px; }

.height-bottom {
  height: 130px;
  margin: 0px 0px;
  background-color: #fff; }

.width-bottom {
  width: 200px; }

.anim-products_right {
  transform: translateX(0px);
  transition: 1s; }

.anim-products_left {
  transform: translateX(-380px);
  transition: 1s; }

.hidden {
  display: none; }
