.bg-blur 
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,.5)
    z-index: 3

select.clip 
  white-space: nowrap // Запрещаем перенос строк
  overflow: hidden // Обрезаем все, что не помещается в область 

select 
    width: 822px // Ширина блока
    float: right // Обтекание по правому краю

.custom-select
    padding: 15px
    height: 430px!important
    font-size: 16pt
    border: none
    border-radius: 0

.search-input 
    width: 76%
    border: none
    font-size: 24pt

.search-label 
    display: inline-block
    width: 20%
    height: 52px
    text-align: center
    color: white
    background-color: $color-blue-dark
    text-transform: uppercase
    padding: 12px
    margin: 0px 0px 0px 14px

.my-scrollbar::-webkit-scrollbar
    width: 80px
    height: 60px
.my-scrollbar::-webkit-scrollbar-thumb
    background-color: $color-blue-dark

.my-scrollbar::-webkit-scrollbar-track
    border-width: 0

.my-scrollbar::-webkit-scrollbar-track:hover
    border-left:solid 1px #aaa
    background-color:#eee

.acces-blocked
    height: 50px

.material-icons
    display: contents

.nopadding
    padding: 0 !important
    margin: 0 !important

.left-padding
    padding-left: 1rem

.hidden
    display: none

.flex-end
    align-items: flex-end

.active
    opacity: 1 !important

.primary
    background-color: $color-blue-light

.secondary 
    background-color: $color-blue-dark
    color: #ffffff !important
    &:hover
        color: black !important

.accent
    color: black
    background-color: $color-red !important

.green
    background-color: $color-green

.green-2
    background-color: $color-green-dark

.red
    background: $color-red

.grey 
    background-color: $color-grey

.height-65
    height: 65px

.height100
    height: 45px
    margin: 5px 0px
    overflow: hidden

.height120 
    height: 115px
    margin: 5px 0

.height150 
    height: 145px
    margin: 5px 0

.height200
    height: 177px
    margin: 5px 0px

.height-bottom 
    height: 130px
    margin: 0px 0px
    background-color: #fff

.width-bottom 
    width: 200px

