<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
</head>
<body>
<div class="view">
    <div class="view-header text-center primary">Нормативная документация</div>
    <div class="view-body jsScroll">
        <div class="container">
            <div class="col-12 js-squeeze-cards">
                <div class="row">
                    {% for i in range(0,100) %}
                        <div class="card m-1 shadow pdf-card js-pdf-card" style="width: 18rem; height: 118px;">
                            <div class="card-body">
                                <p class="card-text h6">Test</p>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div> 
        </div>        
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn__view primary fs-4"></button>
        </div>  
        <div class="col-6">
            <a type="button" class="btn btn btn__view secondary startLoad" href="/operator">
                Выход
            </a>
        </div>  
    </div>         
</div>
</body>
<script src="{{url_for('static', filename='/js/main.js')}}"></script>
</html>

{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}