{% extends 'index_template.html' %}
{% block main_window %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/preload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons.css') }}">
</head>
<body>
<div class="view" >
    <div class="view-header text-center primary">Нормативная документация</div>
    <div class="view-body jsScroll">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    {% for i in range(0, doc_names | length) %}
                        <a class="card card-pdf m-1 shadow text-dark" href="{{ doc_links[i] }}">
                            <div class="card-body">
                                <p class="card-text h6"> {{ doc_names[i] }}.pdf </p>
                            </div>
                        </a>
                    {% endfor %}
                </div> 
            </div> 
        </div>        
    </div>
    <div class="row">
        <div class="col-6">
            {% if archive == True %}
                <button type="button" class="btn btn__view primary fs-4"></button>
            {% else %}
                <a type="button" class="btn btn__view primary fs-4" href="/NormDocumentation/Archive">Архив</a>
            {% endif %}
        </div>  
        <div class="col-6">
            {% if current_user.interface == 'Оператор' %}
                <a type="button" class="btn btn btn__view secondary startLoad" href="/operator">
                    Выход
                </a>
            {% endif %}
            {% if current_user.interface == 'Наладчик' %}
                <a type="button" class="btn btn btn__view secondary startLoad" href="/adjuster">
                    Выход
                </a>
            {% endif %}
        </div>  
    </div>         
</div>
</body>
<script>
    let jsScroll = document.getElementsByClassName('jsScroll');

    if(jsScroll){
        [].forEach.call(jsScroll, function(item) {
            let startX, startY;
            let listener = function(e) {
                startX = this.scrollLeft + e.pageX;
                startY = this.scrollTop + e.pageY;
                item.addEventListener('mousemove', endListener);
            };
        
            let endListener = function(e) {
                this.scrollLeft = startX - e.pageX;
                this.scrollTop = startY - e.pageY;
                return false;
            };
        
            item.addEventListener('mousedown', listener);
        
            window.addEventListener("mouseup", function(){ 
                item.removeEventListener('mousemove', endListener);
            });
        });
    }

    function exit()
    {
        if (location.href == '/adjuster')
        {
            localStorage
        }
    }
    
</script>
</html>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}