{% extends 'index_template.html' %}

{% block main_window %}
    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-row">
                <a class="btn btn__menu btn__menu_narrow primary" onclick="LinkClick();" >Печать этикетки</a>
                <a class="btn btn__menu btn__menu_narrow primary" onclick="LinkClick();" >Изменить этикетку</a>
            </div>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/operator/tableWeight">Вес изделия за смену</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/operator/tableWasteDefect">Фиксация отходов и брака</a>
            <a class="btn btn__menu btn__menu_wide primary"onclick="LinkClick();" href="/operator/ShiftTask">Сменное задание</a>
        </div>
        <div class="col">
            <div class="btn-row">
                <a class="btn btn__menu btn__menu_narrow primary"onclick="LinkClick();" >Схема упаковки</a>
                <a class="btn btn__menu btn__menu_narrow primary" onclick="LinkClick();" href="/operator/visualinstructions">Визуальные инструкции</a>
            </div>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" >Нормативная документация</a>
            <div class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" >Вызов наладчика</div>
            <div class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" >Печать итоги за смену</div>
        </div>
    </div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}