{% extends 'index_template.html' %}

{% block main_window %}
    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-row">
                <a class="btn btn__menu btn__menu_narrow primary" onclick="stickerPrint();" >Печать этикетки</a>
                <a class="btn btn__menu btn__menu_narrow primary" onclick="LinkClick();" href="/operator/ChangeLabel">Изменить этикетку</a>
            </div>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/operator/tableWeight">Вес изделия за смену</a>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" href="/operator/tableWasteDefect">Фиксация отходов и брака</a>
            <a class="btn btn__menu btn__menu_wide primary"onclick="LinkClick();" href="/operator/ShiftTask">Задание на производство</a>
        </div>
        <div class="col">
            <div class="btn-row">
                <a class="btn btn__menu btn__menu_narrow primary"onclick="LinkClick();" href="/operator/PackingScheme">Схема упаковки</a>
                <a class="btn btn__menu btn__menu_narrow primary" onclick="LinkClick();" href="/operator/visualinstructions">Визуальные инструкции</a>
            </div>
            <a class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" >Нормативная документация</a>
            <div class="btn btn__menu btn__menu_wide primary" onclick="LinkClick();" >Вызов наладчика</div>
            <div class="btn btn__menu btn__menu_wide primary" onclick="stickerPrintTotal();" >Печать итоги за смену</div>
        </div>
    </div>

<script>

// Печать этикетки
function stickerPrint() {

    mywindow = window.open('', 'PRINT', 'height=400,width=600,left=300,top=300');

    let clock = document.getElementById('clock').innerHTML,
        html ="";

    html += '<div>----------------------------------</div>'
    +'<b>Артикул</b> '+tprod+'<br>'
    +'<b>Дата</b> '+ clock +' <br>'
    +'<b>Смена</b> '+ smena +'<br>'
    +'<b>Количество</b> '+ nvplan +'<br>'
    +'<b>Упаковщик</b> '+ operator +'<br>';
    var div = '<div class="my_print">'+html+'<div>----------------------------------</div></div>';

    printStickerWindow(div, mywindow);
}

// Печать итогов за смену
function stickerPrintTotal() {

    mywindow = window.open('', 'PRINT', 'height=400,width=600,left=300,top=300');

    let clock = document.getElementById('clock').innerHTML,
        html ="";
    
    html += '<div>----------------------------------</div>'
    +smena+'<br>'
    +ttpa+ '<br>'
    +'План на смену: <br>'
    +'Оператор: '+'<br>'
    +'Наладчик: '+'<br>'
    +'Простои: '+'<br>'
    let div = '<div class="my_print">'+html+'<div>----------------------------------</div></div>'; 

    printStickerWindow(div, mywindow);
}
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}
