{% extends 'index_template.html' %}
{% block main_window %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/static/js/EnterTableWeight/entered_TW.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<div class="cancelWindow" id="js-shadow"></div>
<div class="shadow" id="checkAlert"></div>
<div class="view">
    <div class="view-header text-center primary">Вес изделия за смену</div>
    <div class="view-body jsScroll"> 
        <table class="table table-sm table-bordered text-center" id="table" border="1" bordercolor="black">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вес (кг.)</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody>
                {% for tableWeight_row in somedata[0] %}
                    <tr>
                        <td>
                            {{ tableWeight_row[0] }}
                        </td>
                        <td class="green">
                            {{ tableWeight_row[1] }}
                        </td>
                        <td>
                            {{ tableWeight_row[2] }}
                        </td>
                        <td>
                            {{ tableWeight_row[3] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>     
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <div class="col nopadding me-1">
                <button type="button" class="btn btn__view primary fs-4" onClick="productList.classList.toggle('hidden')">
                    Ввод веса<br>изделия
                </button>
            </div>
            <div class="col nopadding me-1">
                <button type="button" class="btn btn__view primary fs-4" onClick="weightPrint()">Печать<br>вес изделия</button>
            </div>
        </div>  
        <div class="col-6 row">
            <button type="button" class="btn btn btn__view secondary startLoad" onclick="location.href='/operator';">
                <span class="icon-back"></span> Назад
            </button>
        </div>  
    </div>
    <!--Всплывающее окно ввода числовых значений-->
    <div class="modal hidden" id="numberModal">
        <div class="modal__number">
            <div class="modal_header">Вес</div>
            <div class="modal-window__body">
                <div class="row">
                    <div class="btn modal__input-number" id="inputWeight"></div>
                    <button type="button" class="btn modal__enter-button secondary" id="productWeight">ВВОД</button>
                </div>
                <div class="number-keyboard">
                    <div class="keyboard__keys">
                        <div class="col">
                            <button type="button" class="keyboard__key">7</button>
                            <button type="button" class="keyboard__key">8</button>
                            <button type="button" class="keyboard__key">9</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">4</button>
                            <button type="button" class="keyboard__key">5</button>
                            <button type="button" class="keyboard__key">6</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">1</button>
                            <button type="button" class="keyboard__key">2</button>
                            <button type="button" class="keyboard__key">3</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">.</button>
                            <button type="button" class="keyboard__key">0</button>
                            <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>
    
    <!-- Модальное (всплывающее) окно выбора продукта(артикула) -->
    <div class="modal hidden" id="currentProductList">
        <div class="modal__list">
            <div class="modal_header">
                <h5 class="modal_title">Список продуктов</h5>
            </div>
            <div class="modal_content">
                <div class="modal_body">
                    <table class="table table-bordered text-center" border="1" bordercolor="black">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Продукт</th>
                                <th scope="col">Выбрать</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(somedata[2]|length) %}
                                <tr>
                                    <td value=''>{{ somedata[2][i][0] }}</td>
                                    <td class="nopadding table__button col-3">
                                        <button type="button" class="btn__table" data-target="addProductWeight" data-proddataoid="{{ somedata[2][i][1] }}" data-prodname="{{ somedata[2][i][0] }}" onClick="selectProduct(event)">Выбрать</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal_footer">
                    <button type="button" class="btn btn__modal btn_wide secondary" data-toggle="modalClose" data-target="currentProductList" onClick="modalController(event)"> Закрыть </button>
                </div>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>
    <!-- ----------------------------------------------------------- -->

</div>
<script src="/static/js/numberModal.js"></script>
<script>

    let productWeightTable = document.querySelector('#table'); // Получение таблицы с весом продукта
    let productWeightRows = document.querySelector('#table tbody').rows; // Получение тела таблицы с весом продукта
    let enteredWeight = document.querySelectorAll('#table'); // Получение значений введного веса

    // Печать веса продукта
    function weightPrint() {
        
        let weightHTML = ''
        let clock = document.getElementById('clock').innerHTML

        for ( let i = 0; i < productWeightRows.length; i++) {
            weightHTML += productWeightRows[i].cells[1].innerHTML+' кг. '+ productWeightRows[i].cells[2].innerHTML.substr(productWeightRows[i].cells[2].innerHTML.indexOf(" ") + 1) +'<br>';
        }

        let mywindow = window.open('', 'PRINT', 'height=400,width=600,left=300,top=300');

        let html ="";

        html += '<div>----------------------------------</div>'
        +clock+'<br>'
        +ttpa+'<br>'
        +weightHTML
        var div = '<div class="my_print">'+html+'<div>----------------------------------</div></div>';

        printStickerWindow(div, mywindow);
    }
</script>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}