{% extends 'index_template.html' %}
{% block main_window %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/static/js/EnterTableWeight/entered_TW.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<div class="cancelWindow" id="js-shadow"></div>
<div class="shadow" id="checkAlert"></div>
<div class="view"> 
    <div class="view-header text-center primary">Вес изделия за смену</div>
    <div class="view-body jsScroll"> 
        <table class="table table-sm text-center" border="1" bordercolor="black">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вес (кг.)</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody class="table_ProductWeight" id="tbodyWeight">
                {% for tableWeight_row in table_info %}
                    <tr>
                        {% for tableWeight_column in tableWeight_row.values() %}
                            <td>
                                {{ tableWeight_column }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>     
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <div class="btn-row">
                <button type="submit" class="btn btn-light button-2 btn-blue-1 primary me-1 form-control" data="weight" data2="ввод" onclick="numberModalControl(event)">
                    Ввод веса<br>изделия
                </button>
                {% if table_info %}
                    <button type="submit" class="btn btn-light button-2 btn-blue-1 primary" id="printWeight" onclick="javascript:CallPrint('print-content')">Печать<br>вес изделия</button>
                {% else %}
                    <button type="submit" class="btn btn-light button-2 btn-blue-1 primary">Печать<br>вес изделия</button>
                {% endif %}
            </div>
        </div>  
        <div class="col-6 row">
            <button type="button" class="btn btn-light button-1 startLoad secondary"
                onclick="location.href='/operator';">
                <div class="view-exit-1 js-break">&#8617;</div>
                <div class="view-check-text-exit js-break">Назад</div>
            </button>
        </div>  
    </div>
    <!--Всплывающее окно ввода числовых значений-->
    <div class="modal hidden" id="numberModal">
        <div class="modal__number">
            <div class="modal_header">Вес</div>
            <div class="modal-window__body">
                <div class="row">
                    <div class="btn modal__input-number" id="inputWeight"></div>
                    <button type="button" class="btn modal__enter-button secondary" id="weightEntering">ВВОД</button>
                </div>
                <div class="number-keyboard">
                    <div class="keyboard__keys">
                        <div class="col">
                            <button type="button" class="keyboard__key">7</button>
                            <button type="button" class="keyboard__key">8</button>
                            <button type="button" class="keyboard__key">9</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">4</button>
                            <button type="button" class="keyboard__key">5</button>
                            <button type="button" class="keyboard__key">6</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">1</button>
                            <button type="button" class="keyboard__key">2</button>
                            <button type="button" class="keyboard__key">3</button>
                        </div>
                        <div class="col">
                            <button type="button" class="keyboard__key">.</button>
                            <button type="button" class="keyboard__key">0</button>
                            <button type="button" class="keyboard__key keyboard__key_del">DEL</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal_footer">
                <button type="button" class="btn btn__modal btn_wide secondary" onClick="numberModalControl(event)"> Закрыть </button>
            </div>
        </div>
        <div class="bg-blur"></div>
    </div>       
</div>
<script src="/static/js/numberModal.js"></script>
<!-- Печатная форма НАЧАЛО -->
<pre class="hidden">-------------------------------------------
    <div class="hidden print_ProductWeight" id="print-content"></div>
-------------------------------------------</pre>

    <script>
        function CallPrint(strid) {
            var prtContent = document.getElementById(strid);
            var WinPrint = window.open('','','left=50, top=50, width=800, height=640, toolbar=0, scrollbars=1, status=0');
            WinPrint.document.write('');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.write('');
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        }
    </script>

<!-- Печатная форма КОНЕЦ -->
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}