{% extends 'index_template.html' %}
{% block main_window %}
<div class="cancelWindow" id="js-shadow"></div>
<div class="view"> 
    <div class="view-header text-center primary">Визуальные инструкции</div>
    <div class="view-body jsScroll"> 
        <table class="table text-center" border="1" bordercolor="black">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Просмотр</th>
                </tr>
            </thead>
            <tbody>{{ table|safe }}</tbody>
        </table>     
    </div>
    <div class="view-footer">
        <div class="row">
            <div class="col-6">
            </div>  
            <div class="col-6">
                <button type="button" class="btn btn__view secondary col-6 startLoad"
                    onclick="location.href='/operator'">
                    Выход
                </button>
            </div>  
        </div> 
    </div>       
</div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}