{% extends 'index_template.html' %}
{% block main_window %}
<div class="cancelWindow" id="js-shadow"></div>
<div class="shadow" id="checkAlert"></div>
<div class="view-1"> 
    <div class="view-header text-center primary">Вес изделия за смену</div>
    <div class="view-body-1 jsScroll"> 
        <table class="table table-sm text-center" border="1" bordercolor="black">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вес (кг.)</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody id="tbodyWeight"><?=$getWeight?></tbody>
        </table>     
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <button type="button" class="btn btn-light button-2 btn-blue-1 openKeyM primary me-1" data="weight" data2="ввод">
                Ввод веса<br>изделия
            </button>
            <button type="button" class="btn btn-light button-2 btn-blue-1 js-printPaper primary" id="printWeight">Печать<br>вес изделия</button>
        </div>  
        <div class="col-6 row">
            <button type="button" class="btn btn-light button-1 btn-blue-2 startLoad secondary"
                onclick="location.href='/operator';">
                <div class="view-exit-1 js-break">&#8617;</div>
                <div class="view-check-text-exit js-break">Назад</div>
            </button>
        </div>  
    </div>        
</div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}