{% extends 'index_template.html' %}
{% block main_window %}
<div class="cancelWindow" id="js-shadow"></div>
<div class="view-1">
    <div class="view-header text-center primary">Возвратные отходы и брак за смену</div>
    <div class="view-body-1 jsScroll">
        <table class="table table-sm text-center" border="1" bordercolor="black">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Вид</th>
                    <th scope="col">Кол.</th>
                    <th scope="col">Кг.</th>
                    <th scope="col">Причина</th>
                    <th scope="col">Время</th>
                    <th scope="col">Оператор</th>
                </tr>
            </thead>
            <tbody id="tbodyWasteDefect"></tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between px-3">
        <div class="col-6 row">
            <button type="button" class="btn btn-light button-2 primary me-1" id="defectPrint1">
                Ввод отхода<br>за смену
            </button>
            <button type="button" class="btn btn-light button-2 primary" data="wasteDefect2" data2="Ввод кол."
                data3="Ввод кг." id="defectPrint2">
                Ввод брака<br>за смену
            </button>
        </div>
        <div class="col-6 row">
            <button type="button" class="btn btn-light button-2 primary me-1" id="printWasteDefect">
                Печать
            </button>
            <button type="button" class="btn btn-light button-2 secondary" onclick="location.href='/operator'">
                Выход
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block navbar_footer %}
    {% include 'navbar_footer/navbar_footer.html' %}        
{% endblock %}